<div>
	<h4>Signups</h4>
	<table class="signupList">
		<tr>
			<th>När</th>
			<th>Vad</th>
			<th></th>
			<th>Noteringar</th>
			<th></th>
		</tr>
		<tr ng-repeat="signup in signups" ng-class-even="even" ng-class-odd="odd">
			<td>{{signup.signupSlot.eventOccation.timespan|timespanLabel}}</td>
			<td><a href="{{signup.signupSlot.eventOccation.event.id|eventLink}}/signups" target="_self">{{signup.signupSlot.eventOccation|occationLabel}}</a></td>
			<td></td>
			<td class="noteCol">{{signup|signupStatus}}</td>	
			<td><button ng-click="deleteSignup(signup)">Ta bort</button></td>
		</tr>
	</table>
	<button ng-click="showSignupDialogue()">Ny anmälning</button>
	<span class="clear"></span>
</div>