<div class="dialog-contents" style="">
    <ul class="eventtypes">
        <li ng-repeat="eventType in eventtypes">
            <h1>{{eventType.name}}</h1>
            <ul class="events">
                <li ng-repeat="event in eventType.events">
                    <h2>{{event.name}}</h2>
                    <ul class="eventoccations">
                        <li ng-repeat="eventOccation in event.eventOccations">
                            <h3>{{eventOccation|eventOccationLabel}}</h3>
                            <ul class="signupslots">
                                <li ng-repeat="signupSlot in eventOccation.signupSlots" ng-controller="SignupSlotController">
                                    {{signupSlot.slotType.name}}
                                    <button  ng-click="saveSignup(signupSlot)" ng-disabled="signupButtonIsDisabled" class="signupButton" >Anmäl</button>
                                    <span class="clear"></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>