<div>
	<table class="resourceList">
		<tr class="even">
			<th class="idCol">Id</th>
			<th>Datum</th>
			<th class="typeCol">Ordertotal</th>
			<th>Orderstatus</th>
		</tr>
		<tr ng-repeat="order in orders" ng-class-even="even" ng-class-odd="odd">
			<td><a target="_self" href="order/{{order.id}}">{{order.id}}</a></td>
			<td><a target="_self" href="order/{{order.id}}">{{order.submittedAt.date|amDateFormat:'YYYY-MM-DD HH:mm'}}</a></td>
			<td><a target="_self" href="order/{{order.id}}">{{order.total}}:-</a></td>
			<td><a target="_self" href="order/{{order.id}}">{{order.status|orderStatus}}</a></td>
		</tr>
	</table>
	<a href="{{currentPerson.id|newOrderLink}}" target="_self">Ny förbeställning</a>
</div>