<div class="sectionContent">
    <div ng-form="timespanForm" class="timespan-form">
		<fieldset class="wideFormBox">
			<h4 ng-show="currentTimespan.id">Passdetaljer</h4>
			<label>Namn <input type="text" ng-model="currentTimespan.name" /></label>
			<label>Starts at<input ng-model="startsAt" type="datetime-local" /></label>
			<label>Ends at<input ng-model="endsAt" type="datetime-local"/></label>
			<fieldset>
				Visa i schemat?
				<div class="input-box">
					<label><input ng-model="currentTimespan.showInSchedule" type="radio" ng-value="true"/> ja</label>
					<label><input ng-model="currentTimespan.showInSchedule" type="radio" ng-value="false"/> nej</label>
				</div>
			</fieldset>
			<span class="clear"></span>
			<div style="display:table">
				<div style="display: table-row">
					<div style="display: table-cell; width:50%"><button type="button" ng-click="onSaveClick()" ng-disabled="timespanForm.$pristine || timespanForm.$invalid" class="save-button left"><i class="fa fa-save"></i> {{saveLabel}}</button></div>
					<div style="display: table-cell; white-space: nowrap"><button type="button" ng-show="onDeleteClick" ng-click="onDeleteClick()" class="left delete-button"><i class="fa fa-times "></i> Ta bort</button></div>
					<div style="display: table-cell; width:50%"><button type="button" ng-show="onCancelClick" class="cancel-button right" ng-click='onCancelClick()'><i class="fa fa-ban"></i> avbryt</button></div>
				</div>
			</div>
			
		</fieldset>
		<fieldset class="wideFormBox">
			<h4 ng-show="currentTimespan.id">Inbokade pass</h4>
			 <table id="timespan-event-occations" sortable-collection>
				<tr>
					<th>Arrangemang</th>
					<th>Passnamn</th>
					<th>Arrangemangstyp</th>
					<th></th>
				</tr>
				<tr ng-repeat="eventOccation in currentTimespan.eventOccations" ng-class-even="even" ng-class-odd="odd">
					<td><a href="{{eventOccation.event.id|eventLink}}">{{eventOccation.event.name}}</a></td>
					<td><a href="{{eventOccation.event.id|eventLink}}/signups">{{eventOccation.name}}</a></td>
					<td><a href="{{eventOccation.event.eventtype.id|eventTypeLink}}">{{eventOccation.event.eventtype.name}}</a></td>
					<td></td>
				</tr>
			</table>
		</fieldset>
	</div>	
</div>