<div class="sectionContent">
    <table id="timespanList" sortable-collection>
        <tr>
            <th sort-on-click="timespans by name">Namn</th>
            <th sort-on-click="timespans by startsAt">Startar</th>
            <th sort-on-click="timespans by endsAt">Slutar</th>
			<th></th>
        </tr>
        <tr ng-repeat="timespan in timespans" ng-class-even="even" ng-class-odd="odd">
            <td><a href="{{timespan.id|timespanLink}}">{{timespan.name}}</a></td>
            <td><a href="{{timespan.id|timespanLink}}">{{timespan.startsAt|date}}</a></td>
            <td><a href="{{timespan.id|timespanLink}}">{{timespan.endsAt|date}}</a></td>
            <td></td>
        </tr>
    </table>
</div>