<div ng-form>
	<h4>Sovning</h4>
	<ul class="sleepingResources">
		<li>
			<h6><input type="radio" name="accommodationId" value="-1" ng-model="selectedSleepingResourceId"> Sover inte på konventet</h6>
		</li>
		<li ng-repeat="accommodationResource in availableAccommodations">
			<h6><input type="radio" name="accommodationId" value="{{accommodationResource.sleepingResourceId}}" ng-model="selectedSleepingResourceId" ng-click="selectAccommodation(accommodationResource.sleepingResourceId)"> {{accommodationResource.name}}</h6>
			<ul>
				<li ng-repeat="timespan in accommodationResource.eventOccations">{{timespan|timespanLabel:true}}</li>
			</ul>
		</li>
	</ul>
	<span class="clear"></span>
	<button ng-click="saveAccommodation()">Spara</button>
</div>