/* header styles -------------------------------------------------------------*/
h1{font-size:20px; font-weight:700; line-height:28px; padding:8px 0px 4px 0px}
h2{font-size:18px; font-weight:700; line-height:24px; border-bottom:1px solid #888; padding-bottom:2px; padding-left:20px;}
h3{font-size:16px; font-weight:700; line-height:24px;}
h4{font-size:14px; font-weight:700; line-height:18px;}
h5{font-size:12px; font-weight:700; line-height:18px;}
h6{font-size:10px; font-weight:700; line-height:14px;}

h1,h2,h3,h4,h5,h6{ font-family: 'arial narrow', arial, sans-serif;}

/* end header styles ---------------------------------------------------------*/

/* common elements styles ----------------------------------------------------*/
a{color:#444; text-decoration: underline; }
a:link{}
a:visited{}
a:hover{ text-decoration: underline; text-decoration: none; }
a:active{}
body{height:100%; line-height:20px; color: #666; position:relative; background-color:#fff}
form { display:block }
strong{font-weight:700; font-size:120%;}
em{ font-style:italic; }
div{background-color:inherit;}
input,textarea, select, body{font-family:arial, Helvetica, sans-serif; font-size:11px; letter-spacing: 0px; word-spacing: 0px}

span.clear{height:0; line-height:0; clear:both; width:100%; position:relative; display:block}
/* end common elements styles ------------------------------------------------*/

/* general table styles ------------------------------------------------------*/
div.tableContainer{ padding:10px;}
table{width:100%}
th, td{padding:2px 4px!important;}
th{ text-align:center; font-weight:700; text-align:left; font-size:14px; vertical-align:bottom;}
table tr td{vertical-align:top; }
/* end general table styles --------------------------------------------------*/


/* general styles ------------------------------------------------------------*/
.buttonLink{ text-decoration:none; font-weight:700}
.activeInput{background-color:#ff9}
.error{ color:#f00;}
.clickable{ cursor:pointer }
/* .even{ background:#eeeeff;} */
.even{ background:#fff;}
.odd{ background:#eee;}
table{ border:1px solid #eee; border-left:none; border-right:none; margin-top:10px;}
tr td{ border-top:1px solid #eee;}
/* end general styles --------------------------------------------------------*/

/* layout rules --------------------------------------------------------------*/
#wrapper{ position:relative; width:100%; margin:0 auto; bottom:0px; top:0px; float:left}
#messageBox{ position:absolute; right:2px; top:2px; border:1px solid #898989; padding:4px; background-color:white; z-index:100; display:none}
.messageList li{float:left; margin-right:10px;}
#mainContent{  bottom:0px; position:relative; left:0px; right:0px; padding:0px;margin:0px 0px 0px 0px;}
.innerMainContainer{ }


/* end layout rules ----------------------------------------------------------*/

/* main menu ( the list to the left )-----------------------------------------*/

/* main menu layout */

#mainMenuContainer{  width:100%; position: relative; z-index:100; margin-bottom: 28px; min-width:500px; background-color:#ccc; border-bottom:1px solid #999}
#mainMenu {	 margin:0px 284px 0px 187px; float:left;   }
#mainMenu .header, #mainMenu > li > a{ cursor:pointer; font-weight:700; font-size:14px; display:block;}
#mainMenu, #mainMenu a { font-family: 'arial narrow', arial, sans-serif; font-size:14px; line-height: 16px; color:#000; text-decoration: none;}
#mainMenu > li:hover{ background-color:#aaa; } 
#mainMenu > li > ul > li a:hover{ background-color:#ccc; } 
#mainMenu > li { float:left; height:26px; padding:0px; border-left:1px solid #eee;}
#mainMenu > li > ul {padding:0px; min-width:160px; background-color:#fff; border:1px solid #aaa; border-bottom-width: 0px; position: absolute;}
#mainMenu > li:hover > ul {visibility: visible; }
#mainMenu > li > ul {visibility: hidden;}
#mainMenu > li > ul > li:hover{background:#ddd;}
#mainMenu > li.first .header{font-size:18px; line-height:24px;}
#mainMenu > li > ul > li{ padding:0px; background-color:#FFF; border-bottom: 1px solid #aaa; }
#mainMenu > li > ul > li > a{display:block;  padding:5px;}
#mainMenu > li:last-child,
#mainMenu > li:first-child{ background-color:#fff; position: absolute; right:0px;height: auto; border: none; border:1px solid #999; border-top-width: 0px; } 

#mainMenu > li:first-child{ left:0px; padding-bottom:4px; width:192px; margin-right: 10px; border-bottom-right-radius: 3px; border-left-width: 0;}
#mainMenu > li:last-child{  padding:5px 0px 11px 11px; width:280px; border-bottom-left-radius: 3px; border-right-width: 0px; }
#mainMenu > li.searchContainer a,
#mainMenu > li.loginStatusContainer a{ display:inline; text-align: right;}

#mainMenu > li > *:first-child{ padding:4px 10px;}


/* end main menu -------------------------------------------------------------*/

#articlePath{clear:both; padding-top:2px; padding-bottom:2px; margin-top:4px; font-weight:700; font-size:16px} 
#articlePath a{margin:6px;} 

/* tabbed view ---------------------------------------------------------------*/

div.tabs-container{
    border-bottom:1px solid #666;
}

.tabs{ padding-left:16px; min-height:26px; overflow:visible; }

.tabs a{
	color:#000;
	background:#ccc;
	border:1px solid #666;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position:relative;
	display:inline-block;
	/* background:url(images/topTab.png) 0% 0% no-repeat; */
	text-decoration:none;
	height:27px;
	padding:2px 10px;
	font-size:14px;
	overflow:visible;
	margin-left:-3px;
	z-index:0;
	top:3px;
    font-weight: 700;
}
.tabs a:hover,.tabs a.active{
	text-decoration:none;
	height:30px;
	top:0px;
	background:#fff;
	z-index:10;
	border-bottom-width:0px;
	margin-bottom:-1px;

}
.tabs a:hover{
	z-index:12;
}

#tabbedContainer{border-top:1px solid #aaa; z-index:1;	position:relative; padding-top:10px}

#tabbedContainer, #searchBar, #navigationBar, #mainContentTop{ padding-left:20px; padding-right:20px;}

#mainTabbedContainer form{ display:inline }
#mainTabbedContainer .tabContentDiv form{display:block}
#mainContentTop .mainContainerContent{ }
/* end tabbed view -----------------------------------------------------------*/

/* boxarna i tabbvyn ---------------------------------------------------------*/

.formBox,
.leftBox,
.rightBox{ float:left; display:block; width:390px; padding-top:10px; line-height:27px;}
.rightBox{margin-left:0px; }

.formBox label,
.leftBox label,
.rightBox label{width:130px; float:left; clear:left; display:block; text-align:right; padding-right:10px;}
.formBox input.text,
.leftBox input.text,
.rightBox input.text{ width:240px; float:left; clear:right;}
.formBox input.file,
.leftBox input.file,
.rightBox input.file{ width:240px; float:left; clear:right;}
.formBox input.password,
.leftBox input.password,
.rightBox input.password{ width:240px; float:left; clear:right;}

.formBox .buttonBox,
.leftBox .buttonBox,
.rightBox .buttonBox{float:left;display:block;clear:right; width:250px;}

.formBox .submit,
.leftBox .submit,
.rightBox .submit{float:right; clear:both; margin:3px;}

/* end boxarna i tabbvy ------------------------------------------------------*/


.uninitializedInput{ font-style:italic; color:#999;}

.tabContentDiv > form{ position:relative; }

#anmalningsmojlighetslista li{padding-left:14px}
#arrangemangslista .type{background:#000; color:#fff}

.anmalningsvy{width:290px;margin:0 auto}
.messagebox{ width:278px;  padding:5px;border:1px solid black}
.anmalningsvy #arrangemangslista{ width:290px;}

.container{ height:270px; overflow: scroll; width:283px}


/* PersonSelector */
.ajaxSelector_searchField{margin-bottom:6px; border:1px solid #888; width:348px;}
.ajaxSelector_cancelButton{float:right}
.ajaxSelector_mainContainer{display:none}
.ajaxSelector_mainContent ul{width:350px; height:400px; overflow:auto;}

/* end PersonSelector */

.artikelkategorilista ul > li{
	padding-left:10px;
}

.artikelkategorilista li.active > .content{
	background-color:#eee;
	margin:5px;
	padding:5px;
}

.artikelkategorilista li.active > .content > ul li *{
	font-weight:400;
}

.artikelkategorilista h3,.artikelkategorilista h4{ display:inline; }

.artikelkategorilista ul > li li,.artikelkategorilista .newForm{
	padding-left:20px;
}

.artikelkategorilista{
	margin:0 10px 20px 10px;
	color:red;
}

.artikelkategorilista ul li{
	font-weight:400;
}

.artikelpristabell input{
	width:60px;
}


.datebox{display:inline-block; width:90px;}





#DOMWindow .domInnerContainer{
	position:absolute;
	top:22px;
	left:0px;
	right:0px;
	overflow-y:auto;
	bottom:0px;
}

#DOMWindow .domOuterContainer #closeBtn{
	position:absolute;
	top:3px;
	right:3px;
	background:url(images/SmallButtons.png) -64px 0%; width:16px; height:16px; text-indent: -10000px; padding:0px!important; margin:0px;
}

#DOMWindow .domOuterContainer #closeBtn .end {
	display:none;
}

#DOMWindow .domOuterContainer #closeBtn:hover{
	background-position-y:32px;
}

#DOMWindow .domOuterContainer #closeBtn:active{
	background-position-y:16px;
}


#DOMWindow .buttonContainer{
	position:absolute;
	left:0px;
	right:0px;
	height:24px;
	bottom:0px;
	padding:2px;
	border-top:4px solid #CCC;
}

#DOMWindow .eventTypeList{
	background:#ddd;
	padding:4px;
}

#DOMWindow .eventTypeList > li{
	margin-bottom:10px;
}

#DOMWindow .eventList ul{
	margin-left:10px;
	margin-right:10px;
}

#DOMWindow .eventTypeList > li > span.label{
	font-size:18px;
	font-weight:700;
	display:block;
	border-bottom:1px solid #ddd;
}

#DOMWindow .eventList > li{
	font-size:16px;
	font-weight:400;
}

#DOMWindow .eventOccationList > li{
	font-size:14px;
	font-weight:400;
}

#DOMWindow .signupSlotList > li{
	font-size:12px;
	font-weight:400;
	background:#fff;
	margin:1px;
	padding:1px 2px;
	line-height:24px;
}

#DOMWindow .signupSlotList > li > input{
	float:right;
	clear:both;
	display:block;
}


.orderbetalningsformular table{}
.orderbetalningsformular table td{width:120px; position:relative; padding-left:4px;}
.orderbetalningsformular table td input{width:100%;}


.webbshopvy .order td{padding:0px;}
.webbshopvy .order input{margin:0px;}
.webbshopvy .submitOrderBox{float:right;}
.webbshopvy .updateSubmitBox{float:right;}
.webbshopvy input.count{width:30px;}
.webbshopvy .articleIdCol{ 	width: 60px;}
.webbshopvy .countCol{ 		width: 40px;}
.webbshopvy .articleCol{	width: auto}
.webbshopvy .perEachCol{	width: 50px;}
.webbshopvy .rowTotalCol{	width: 50px;}
.webbshopvy .notering{ width:200px; padding:1px; margin:0px; height:30px;}


.idCol{ 	width: 30px;}
.thumbCol{ 	width: 36px;}
.buttonCol{ 	width: 71px;}
.shadedText{ background-color:#C3C5D5; padding-top:3px; padding-bottom:3px; padding-left:4px; margin-bottom:0px;}
.articleTable{ margin:0px; margin-bottom:6px; border:1px solid #eee;}
.orderCol{ width:236px;}

#cart{ border:1px solid #C3C5D5; padding:0px; }
#cart table, #cart #status, #cart #buttons{ padding:4px;}
.sectionContent{ margin:20px; position:relative;}


.formBox{
	width:390px;
	margin-right:20px;
	float:left;
}
.wideFormBox label{ 
	display:block!important;
	width:100%;
	float:left;
}

.wideFormBox{
	width:800px;
	margin-right:20px;
	float:left;
}

.wideFormBox textarea{width:100%;}

.sectionBox{
	border:10px solid #C3C5D5;
	padding:4px;
	float:left;
	width:880px;
	margin: 20px 20px 0px 0px;
}

#organizer{width:218px;}
#selectOrganizer{float:left;}

#scheduleListContainer #hourList{
	position:absolute;top:0px; bottom:0px; margin-left:198px; margin-top:1px; min-height:16px;  border:1px solid #888; right:0px; left:0px; 
}

#scheduleListContainer #hourList li{
	text-align:center;position:absolute; display:block; bottom:0px; top:0px; font-size:70%;
}

#scheduleListContainer #hourList li.even{
	
}
#scheduleListContainer #hourList li.odd{
	background:#eeeeff;
}

#scheduleListContainer{ position:relative; padding-top:1px;margin:20px;}
#scheduleList{ font-size:0.8em; margin-top:16px;border-bottom:1px solid #999;border-left:1px solid #999;}
#scheduleList > li {min-height: 20px; left:0px; position:relative; right:0px; color:#000}
#scheduleList > li > .resourceLabel{ position:relative; left:0px;  border:1px solid #999; padding-left:3px; font-weight:700; background:#fff; z-index:10; border-left:none; line-height:22px}
#scheduleList > li > .resourceLabel:hover{cursor:url(images/addCursor.png), hand}
#scheduleList > li > .unavailable a{font-style: italic; color:#999;}
#scheduleList > li > .resourceLabel a{display:block; padding-left:4px; text-decoration: none; right:0px; position:relative; left:0px; height:22px }
#scheduleList > li > .resourceLabel a:hover{background-color: #fff;cursor:url(images/addCursor.png), hand; border:1px solid #ddd;line-height:20px; height:20px; padding-left:3px;}
#scheduleList > li .eventList{ margin-left:22px }
#scheduleList > li .eventList li{ position:relative; height:18px; margin-top:1px; margin-bottom:1px;}
#scheduleList > li .eventList li > .eventLabel{width:116px; overflow:hidden; float:left; position:absolute; height:100%}
#scheduleList > li .bookingList{ position: relative; min-height: 2em; margin-left:176px;}
#scheduleList > li .bookingList > li{padding:0px; height:1.7em;  position:absolute; width:220px; overflow:hidden; text-indent: -200%; background:#99c; color:#888; border:1px solid black; opacity:0.6}
#scheduleList > li .bookingList > li a {display:block; overflow:hidden; text-indent: -1000px;}
#scheduleList > li .bookingList > li:hover{cursor:url(images/closeCursor.png), hand;}

#scheduleListContainer{ position:relative; padding-top:1px;margin:10px; margin-top:20px;}
#scheduleListContainer ul{ margin-bottom:0px;}
#eventScheduleList{ font-size:0.8em; margin-top:26px;border-bottom:1px solid #999;border-left:1px solid #999;}
#eventScheduleList > li {min-height: 20px; left:0px; position:relative; right:0px; color:#000}
#eventScheduleList > li > .resourceLabel{ position:relative; left:0px; right:2px; border-top:1px solid #999; padding-left:0px; font-weight:700; height:19px; }
#eventScheduleList > li > .unavailable a{font-style: italic; color:#999;}
#eventScheduleList > li > .resourceLabel > a{display:inline-block; padding-left:4px; text-decoration: none; right:0px; position:relative; left:0px; width:193px;}
#eventScheduleList > li > .resourceLabel > a:hover{background:#eeffee;}
#eventScheduleList > li .eventList{ margin-left:22px }
#eventScheduleList > li .eventList li{ position:relative; height:18px; }
#eventScheduleList > li .eventList li > .eventLabel{width:116px; overflow:hidden; float:left; position:absolute; height:100%}
#eventScheduleList > li .bookingList{ position: relative; min-height: 2em; margin-left:176px;}
#eventScheduleList > li .bookingList > li{padding:0px; height:1.7em;  position:absolute; width:220px; overflow:hidden; text-indent: -200%; background:#99c; color:#888; border:1px solid black; opacity:0.6}
#eventScheduleList > li .bookingList > li a {display:block; overflow:hidden; text-indent: -1000px; height:19px;}
#eventScheduleList > li .bookingList > li a:hover{cursor:url(images/closeCursor.png), hand;}
#eventScheduleList > li .occationList{ position: absolute; min-height: 2em; display:inline-block; left:0px; margin-left:198px; top:1px}
#eventScheduleList > li .occationList > li{padding:0px; height:1.7em;  position:absolute; width:220px; overflow:hidden; text-indent: -200%; background:#999; color:#888; border:1px solid black; opacity:0.3}
#eventScheduleList > li .occationList > li > a {display:block; overflow:hidden; text-indent: -1000px;}
#eventScheduleList > li .occationList > li > a:hover{ background-color: #fff;cursor:url(images/addCursor.png), hand;}


.event-occation-schedule-container{
	position:relative;
	padding-top:80px;
	font-size:14px;
	min-height: 82px;
}

.event-occation-schedule-container h3{
	margin-top:5px;
}

.event-occation-schedule-container .selected{
	background:#00f;
	color:#fff;
}

.date-list{
	min-height:36px; position:absolute; top:0px; bottom:0px; border:0px solid #888; right:0px; left:200px; margin-bottom:0px;  
}

.date-list li{
	text-align:left;position:absolute; display:block; bottom:0px; top:0px; padding:4px; box-sizing: border-box; border:1px solid #f0f0f0;
}

.date-list li .dateLabel{
	display:block; padding-left:4px; font-size:10px;
}

.date-list li.even{
	background:#fff;
}
.date-list li.odd{
	background:#eeeeff;
}

.hour-list{position:absolute; top:32px; left:200px; right:0px; bottom:0px;  overflow:hidden; margin-bottom:0px; font-size:8px; }
.hour-list li{ position:absolute; top:0px; bottom:0px; text-indent: 3px; line-height: 14px; padding-top:4px; border:1px solid #f0f0f0; border-width:1px 0px 0px 1px; }
.hour-list li.even{ background:#eee }
.hour-list li.odd{ }

.timespan-list{ display: block;	position: absolute;	top: 0px; right:0px; bottom:0px; left: 200px; padding:2px; } 
.timespan-list > li{ display:block; position:absolute; top:0px; bottom:0px; border:1px solid #999; margin: 1px 0px; padding:2px; background:#31b0d5; color:#fff;}

.main-timespan-list { position:absolute; margin-top:56px; margin-bottom:0px; }
.main-timespan-list > li{ background-color: #fff!important; color:#000!important; border-bottom-width:0!important; }

.event-timespan-list{ left:199px;}
.event-timespan-list > li{ background-color: #fff!important; color:#aaa!important; z-index:5!important; cursor:cell; }
.event-timespan-list > li:hover{ z-index:6!important; }
.event-list{ left: -200px; display:block;}
.event-list > li{ display:block; position:relative; margin-bottom:8px; border:1px solid #999; z-index:10}
.event-list > li > .eventName{ width:200px; padding:4px;}

.event-occation-list{ left:199px;}
.event-occation-list > li { z-index:10; cursor:not-allowed; }
.event-occation-list > li:hover{ border: 1px solid black;}
.event-occation-list > li { z-index:9; }


#DOMWindow .occationList{
	height:428px;
	overflow: auto;
}

#DOMWindow div.scrollContainer{
	height:425px;
	overflow: auto;
}




#DOMWindow .resourceList{
	
}

#DOMWindow .resourceList .event{ background:#aaa; margin-top:20px}
#DOMWindow .resourceList .eventOccation{ padding-left:20px;}
#DOMWindow .resourceList .colliding { color:red; font-style: italic}
#DOMWindow .resourceList .unavailable {font-style: italic; color:#999;}

#DOMWindow .headingContainer{ height:16px;}
#DOMWindow .bookingCheckboxHeader{}
#DOMWindow .mainResourceRadioHeader{}
#DOMWindow .resourceHeader{}

#lbDialogue{display:none;}
#DOMWindow #lbDialogue{display:block;}

input.error{ background:#f00; color:#fff;}

.personForm .foreignAddress{ height:40px;}

#ajaxStatusBox{position: fixed; top:0.5em; left:0.5em; padding:6px; z-index:2000; border:1px solid #000; background-color: #fcefa1; font-size:110%; display:none;}

a:focus ,a:focus .end,a:focus .tabEnd{color:#ffe45c;}

div.tinyContainer{
	max-width:750px;
	float:left;
	margin-right:20px;
}

div.tinyContainer .textarea{
	width:720px;
	float:left;
	margin-right:20px;
	height: 80px;
}



div.tinyContainer .mceLayout iframe{
	width:750px!important;
	height:200px!important;
}

div.tinyContainer .mceLayout .mceResize{
	display:none!important;
}

dl.orderData{float:left;}
dl.orderData dt{float:left; clear:left; width:120px; font-size:110%; font-weight:700; padding:4px; text-align: right;}
dl.orderData dd{float:left; clear:right; width:280px; padding:4px;}



.articleOrderRowStatistics h5, .articleCustomerList h5{
	font-size:16px;
	margin-bottom:4px;
}
.articleOrderRowStatistics{
	float:left;
	width:416px;
}

.articleCustomerList{
	float:left;
	width:600px;
}

dl.orderData dd input{ z-index:100; position:relative;}

.suggestions{
	left:6px;
	top:6px;
	position:absolute;
	z-index:99;
	color:#666;
	background:#fff;
	border:1px solid #aaa;
	width:206px;
}

.suggestions li{
	font-size:10px;
	padding-left: 4px;
	line-height: 20px;
	height:19px;
	overflow:hidden;
		
}

#clientSelector{
width:200px;	
	
}

.orderPaymentRegisterForm{
	width:auto;
}

tr.cancelled td{ text-decoration: line-through;}

.orderPaymentRegisterForm .orderIdCol{}
.orderPaymentRegisterForm .idCol{}
.orderPaymentRegisterForm .amountCol{}
.orderPaymentRegisterForm .timeCol{ width:120px;}
.orderPaymentRegisterForm .paymentMethodCol{}

.orderPaymentRegisterForm input{
	width:345px;
}
.subjectInput{ width:734px; font-size: 2em}

.newsLetterContent{float:left; margin-right:10px;}

.recipientSelect {display:block; float:left; margin-top: 10px;border:1px solid #eee; padding:4px; margin-right:10px;width:734px;}
.recipientSelect .formBox{width:auto;}
.recipientSelect ul.selectionList{  }
.recipientSelect ul.selectionList textarea{ width:696px; height:100px }
.recipientSelect ul.selectionList li { position:relative; padding:3px;padding-left:30px;}
.recipientSelect ul.selectionList li.noPadding {padding-left:3px;}
.recipientSelect ul.selectionList > li { border-bottom:1px solid #eee}
.recipientSelect ul.selectionList > li > input.radio{position:absolute; top:3px; left:3px; float:none; display:block;}
.recipientSelect ul.selectionList > li > h4{display:inline-block;}
.recipientSelect ul.selectionList > li span.explanation{display:inline-block; margin-left:4px; font-style: italic;}
.recipientSelect ul.selectionList > li > ul.filterList{display:block; clear:both;}
.recipientSelect ul.selectionList > li > ul.filterList > li > h5{display:inline-block;}
.recipientSelect ul.selectionList > li > ul.filterList > li > input.radio{display:inline-block;}
.recipientSelect ul.selectionList > li > ul.filterList > li > input.checkbox{position:absolute; top:3px; left:3px; float:none; display:block;}
.recipientSelect ul.selectionList > li > ul.filterList select{float:none}


div.recipients{ display:block;float:left; margin-top: 10px; width:730px; border:1px solid #eee; padding:4px; margin-right:10px; padding-left:8px; padding-top:8px;}

div.recipients div.recipientList{ max-height:200px; overflow-y: auto; }

span.emailAddress{ display: block; float:left; break-inside:avoid; border:1px solid #eee; margin:0px 4px 4px 0px; padding:2px;}

a.sendNewsletterButton{ margin-top:10px; float:left; display: block;}
a.addRecipientButton{ margin-top:10px; float:right; display: block;}
a.clearRecipientsButton{ margin-top:10px; float:right; display: block;}
/*
.radioSelect .radio{ float:left; display:block; clear:left; width:20px; margin-top:6px;}
.radioSelect li{ float:left; clear:both; max-width:700px; margin-top:10px;}
.radioSelect > li{ border:1px solid #eee; margin-top:10px;}
.radioSelect .formBox{ width:auto; clear:left; padding:0px;}
.radioSelect .subForm{float:left; clear:right;}
.radioSelect h3 {float:left; font-weight:700; font-size:16px; line-height:24px; width:377px; margin-right:20px;}
.radioSelect li label{ float:left; display:block; clear:left; width:85px;}
.radioSelect .checkbox{ float:left;}
.recipients{float:left; width:400px;}
*/
#attenderSelector{}
#attenderSelector .event{ text-indent: 0px; background:red}
#attenderSelector .eventOccation{ text-indent:10px }
#attenderSelector .signupSlot{ text-indent:20px;}

.searchForm{ display:block; margin:30px 0px}
.searchForm input.text{ font-size:1.6em; width:400px}
ul.searchResult{ width:100%;}
ul.searchResult li .meta{font-style: italic; display: block; text-indent: 10px}
ul.searchResult li{ margin-bottom:4px}
ul.searchResult h3{ margin-bottom:0px;}
ul.searchResult h3 a{ display:block;}
ul.searchResult h3 a:hover{ background: #FFE7A1}

div.searchFormContainer{ margin:0px 30px 0px 10px;}


table.transactions{ margin-right:10px;}
table.transactions tr.cancelled a{ text-decoration: line-through; color:#888!important}
table.transactions .idCol{ width:20px;}
table.transactions .timeCol{ width:150px;}
table.transactions .noteCol{ }
table.transactions .amountCol{ width:100px; text-align: right; }
table.transactions .paymentMethodCol{width:130px;}
table.transactions .buttonCol{ width:200px;}

table.groupedTransactionTotals{ font-size:150%; margin-bottom:20px; float:right; width:auto;}
table.groupedTransactionTotals .amountCol{  width:200px; text-align:right;}
table.groupedTransactionTotals .paymentMethodCol{ width:300px;}
table.groupedTransactionTotals .totalRow{font-size:150%; font-weight: 800; }
table.groupedTransactionTotals .totalRow td{padding-top:10px; padding-bottom:10px; }

.filterForm input{ margin-right:20px}

dl.transactionData{float:left;}
dl.transactionData dt{float:left; clear:left; width:100px; font-size:110%; font-weight:700; padding:4px; text-align: right;}
dl.transactionData dd{float:left; clear:right; width:300px; padding:4px;}
.cancelledTransaction{color:red}

a.teamName{ font-style: italic;}

table.resourceList tr.unavailable a{ font-style: italic!important; color:#aaa!important}

.articleMainContent{ position:relative;}
.subCategoriesContainer{ width:240px;}
.articlesContainer{ position:absolute; top:0px; left:250px; right:0px;}

p.sleepingSlotBookingInfo{display:block; margin:10px; font-size:110%}
p.sleepingSlotBookingInfo em {font-weight: 800}
div.sleepingResourcesContainer{ border:1px solid #eee; padding:10px}
div.sleepingResourcesContainer h5{ font-size:130%; font-weight:700}
ul.sleepingResources{}

ul.sleepingResources > li{ padding:4px 0px}
ul.sleepingResources > li > h6{ font-size:120%; font-weight:700; line-height: 10px}
ul.sleepingResources > li > h6 input{}
ul.sleepingResources > li > ul{ padding-left:40px; margin-top:4px}
ul.sleepingResources > li > ul > li{padding:2px 0px}

#eventOccationOverview{ position: relative; padding-top:50px; border:1px solid #888; margin-top:60px;}
#eventOccationOverview #eventList{ margin-bottom:0px;}
#eventOccationOverview #eventList li.even{ background:transparent!important;}
#eventOccationOverview #eventList li.even div.eventName{ background:url(images/BlueTint.png) transparent!important;}
#eventOccationOverview #eventList li.odd { background:transparent!important;}
#eventOccationOverview ul.mainTimespanList{position:absolute; top:30px; bottom:0px; }
#eventOccationOverview ul.mainTimespanList li{ position:absolute; top:0px; line-height: 14px; border:1px solid #888;  background: #efe;  z-index:2; font-weight:700; padding:2px }



#eventOccationOverview ul.dateList{position:absolute; top:0px; bottom:0px; margin-bottom: 0px; }
#eventOccationOverview ul.dateList li{ position:absolute; top:0px; height:14px; text-indent: 3px; border-left: 1px solid black; border-bottom:1px solid black; line-height: 14px;}
#eventOccationOverview ul.dateList li.even{ background:#eee }
#eventOccationOverview ul.dateList li.odd{ }

#eventOccationOverview ul.publicTimespans{position:absolute; top:0px; bottom:0px; opacity:0.9; right:0px; }
#eventOccationOverview ul.publicTimespans li{ padding-right:2px; color:#ddd; background:#fafafa; position:absolute; top:2px; bottom:1px; text-indent: 3px;  border: 1px solid #888; line-height: 18px;cursor:pointer; z-index:3; white-space: nowrap; overflow: hidden;}
#eventOccationOverview ul.publicTimespans li:hover{ color:#333; border-width:2px; line-height: 17px; text-indent:2px}

#eventOccationOverview h2{ border-bottom: none; border-top:1px solid #888; font-size:14px; padding-left:10px; margin:0; line-height: 19px; min-height: 22px}

#eventList { }
#eventList li { position:relative}
#eventList ul.occationList {position:absolute; top:0px; bottom:0px; right:0px; }
#eventList ul.occationList li { background-color:#ccf; position:absolute; top:2px; bottom:1px; text-indent: 3px;  border: 1px solid #aaa; line-height: 18px; z-index:10; cursor:pointer; white-space: nowrap; overflow: hidden; }

#lbContainer{ position:relative;}
#eventOccationForm{ position:relative;}
#eventOccationForm h2{ float:left; width:100%; clear:both;}
#eventOccationForm h3{ font-size: 14px; float:left; width:100%; clear:both;}
#eventOccationForm table{ margin:0px;}
#eventOccationForm table input.text{ width:50px;}
#eventOccationForm table th{ font-size: 12px;}
#eventOccationForm label{ width:200px; clear:left; float:left;} 
#eventOccationForm select{ width:300px; float:left; clear: right;}
#eventOccationForm .text{ margin:0px; width:296px; padding:0px;  float:left; clear: right;}
#eventOccationForm .buttonBox{ margin:0px; width:300px; padding:0px;  float:left; clear: right; line-height: 15px;}
#eventOccationForm .buttonBox span{display: inline-block; padding-bottom:2px; top:0px;}
.loader{ position:absolute; top:0px; left:0px; bottom:0px; right:0px; z-index:10; background:transparent} 
.loader .overlay{ position:absolute; top:0px; left:0px; bottom:0px; right:0px; background-color: #fff; opacity: 0.8;}
.loader .spinner{ position:absolute; top:0px; left:0px; bottom:0px; right:0px; background: transparent url(images/loader.gif) no-repeat 50% 50%}

#errorList, #infoList, #warningList{
	border:2px solid;
	padding:2px;
	margin:4px;
}

#errorList li,#infoList li, #warningList li{
	margin:4px;
}

#errorList{
	border-color:#f00;
	background-color: #faa;
	color: #f00;
}

#infoList{
	border-color:#0c0;
	background-color: #afa;
	color: #0c0;
}

#warningList{
	border-color:#fc0;
	background-color: #fea;
	color: #f80;
}

.javascriptEnabled #errorList, .javascriptEnabled #infoList, .javascriptEnabled #warningList{
	position:fixed;
	z-index: 100;
	top:0px; left: 0px; right:0px; 
	cursor: url(images/closeCursor.png), hand;
}

input.invalid{
	background-color: #faa;
	color: #f00;
}

a.addButton{ background:url(images/SmallButtons.png) -16px 0%; width:16px; height:16px; text-indent: -10000px; padding:0px!important; display: inline-block; margin:0px!important }
a.addButton:hover{background-position-y:32px;}
a.addButton:active{background-position-y:16px; }
.signupCountCol span.signupCount{display: inline-block; width:20px;}
.signupCountCol {text-align: center}


div.reception h2{
	text-decoration: none;
	border:none;
}

div.receptionList{border:1px solid #aaa; width:800px; margin:10px auto 0px auto; padding:10px;}
div.paymentMethodBox{ float:right; color:black!important}
div.importantCheckoutInformation{ border:1px solid #aaa; width:800px; margin:10px auto 0px auto; padding:10px;}
div.importantCheckoutInformation h3{ color:#000; font-size: 2em; margin-bottom:8px}
div.importantCheckoutInformation .submitButton{ float:right;}
div.importantCheckoutInformation > table { margin:0px; border-style:none; border-bottom-style: solid; margin-bottom:8px; }
div.importantCheckoutInformation > table { font-size: 1.1em; font-weight:700}
div.importantCheckoutInformation th{color: black; line-height: normal}
div.importantCheckoutInformation table.orderRows {margin-top:0px}
div.importantCheckoutInformation table.orderRows th{font-size: 0.8em}
div.importantCheckoutInformation table.orderRows .countCol{ width:40px; text-align: right; padding-right:5px;}
div.importantCheckoutInformation table.orderRows .articleCol{ }
div.importantCheckoutInformation table.orderRows .noteCol{ }
div.importantCheckoutInformation table.orderRows .deliveredCol{ width:45px; text-align: center;}
div.importantCheckoutInformation td.orderTableCell{ border:0px solid #eee; padding:0px}
div.importantCheckoutInformation td.orderTableCell table{ border:1px solid #eee; padding:0px; margin:0px; border-bottom:0px}
div.importantCheckoutInformation td.descriptionCol{ text-align: right; padding-right:6px}
div.importantCheckoutInformation .checkedCol{ text-align: center;}

table.files{ margin-bottom: 10px;}
table.files tr{}
table.files tr th.nameCol{ padding-left:74px}
table.files td{ line-height: normal; }
table.files td img{ float:left; display:block; margin-right:10px;}

fieldset.formBox label{
    width:100%;
    text-align: left;
}



fieldset input[type=email],
fieldset input[type=text],
fieldset input[type=password],
fieldset textarea,
fieldset select,
fieldset .buttonBox{
    width:60%; float:right!important; margin-left:10px;
    height:auto;
}

fieldset .buttonBox{
    text-align:left;
}

fieldset textarea.large{
    height:200px; 
	width:100%;
}

.person-form input.ng-invalid.ng-dirty{
    background-color: #FA787E;
}

input:focus,select:focus{
    background-color: #ff9;
}

.buttonBox.focus{
    background-color: #ff9;
    border-color:#ff9;
}

.buttonBox{
    border:2px solid #fff;
}

select.ng-invalid.ng-pristine,
input.ng-invalid.ng-pristine{
    border-color:#FF0000;
}

select.ng-invalid.ng-dirty,
input.ng-invalid.ng-dirty {
    background-color: #FF0000;
}

div#loader-container{
    height:34px;
    padding:3px;
    margin:0px;
    width:100%;
    box-sizing: border-box;
    background:#fff;
    position:relative;
} 

div#loader-container div{
    background: url(images/loader_16.gif)  no-repeat;
    background-position-x: 2px;
    background-position-y: 2px;
    font-size:12px;
    color:#aaa;
    padding-left:26px;
}

div#overlay{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:200;
    opacity: 0.5;
    background: #fff;
}

div.tabbed-view div.sectionContent{
    margin:0px 20px 20px 20px!important;
}

#tabbedContainer{
    border:none!important;
}

.ngdialog-close{ top:-7px!important; right:-9px!important;}
.ngdialog{ padding-top:100px; padding-bottom: 100px; font-size:10px; background:none!important}
.ngdialog-content{ height:100%; padding-right:0.1em!important; padding-top:1em!important}
.dialog-contents{ overflow:auto; height:100%; position:relative;}
.dialog-contents ul.eventtypes{}
.dialog-contents ul.events > li{ margin-top:10px; }
.dialog-contents ul.events{ padding-left:10px;}
.dialog-contents ul.signupslots{ }
.dialog-contents ul.signupslots > li { background:#fff; margin-bottom:1px; font-size:1em; line-height: 2em; padding-left:2px;}
.dialog-contents ul.signupslots > li button { float:right;}
.dialog-contents h1{ font-size:1.6em; padding:0px}
.dialog-contents h2{ font-size:1.2em; border-color:#999; padding-bottom:0px;}
.dialog-contents h3{ font-weight: 400; font-size:1.2em;}
.dialog-contents h4{ font-size:1.2em;}


.dialog-contents .search-container{ margin-right:20px; height:32px;}
.dialog-contents .search-container input[type=text]{ width:100%; font-size:20px; padding-left:4px; box-sizing: border-box}
.dialog-contents .people-list-container{margin-top:100px; position:absolute; top:0px; bottom:0px; left:0px; right:0px; overflow: auto; margin-bottom:32px; font-size:12px;}
.dialog-contents .people-list-container ul { margin-bottom:2px; width:100%;}
.dialog-contents .people-list-container ul li{ margin-bottom:2px; width:100%;}
.dialog-contents .save-selection{ position:absolute; bottom:0px; left:0px;}

.dialog-contents .event-list-container{margin-top:40px; position:absolute; top:0px; bottom:0px; left:0px; right:0px; overflow: auto; margin-bottom:32px; font-size:12px;}
.dialog-contents .event-list-container > ul { margin-bottom:2px; width:100%;}
.dialog-contents .event-list-container > ul > li{ margin-bottom:2px; width:100%;}

.dialog-contents .event-list .event{ background:#aaa; margin-top:20px}
.dialog-contents .occation-list .occation{ padding-left:20px; background: #fff;}
.dialog-contents .occation-list li.colliding { color:red; font-style: italic}
.dialog-contents .occation-list .unavailable {font-style: italic; color:#999;}


.event-occation-view th{ font-weight: 700; }
.event-occation-view th i.fa{font-size:8px;}
.event-occation-view .event-occation-form, .signup-slot-form{
	display:block;
	clear:both;
	width:100%;
	border:2px solid #ddd;
	padding:4px;
	margin-bottom:4px;
}

.event-occation-view .event-occation{ display:block; border:2px solid #888; padding:10px;  margin-bottom:10px; background-color: #ccc; }
.event-occation-view h3{ display: inline-block;}
.event-occation-view h4{ margin-top:0px; display: inline-block;}
.event-occation-view h5{ font-weight:700; margin-top:0px; display: inline-block; }
a.edit-link{ display:inline-block; margin-left:4px; }


.event-occation-view .event-occation-form,
.event-occation-view .signup-slot-form{ width:606px; background:#fff; }

.event-occation-view .signup-slot-form{ 
	-webkit-transition: height linear 0.5s;
	transition: all linear 0.5s;
}

.event-occation-view .signup-slot-form .ng-hide{
	height:0px!important;
}

.event-occation-view .signup-slot-form{
	height:auto!important;
}

.signup-slot .signup-slot-form{ width:100%; }

label{ display:block; float:left; width:100%;}
label > input[type=datetime-local]{ line-height: 19px; }
label > input[type=text],
label > input[type=datetime-local],
label > input[type=number],
label > input[type=email],
label > input[type=password],
label > textarea,
label > select{ width:60%; float:right; padding-top:3px; padding-bottom:3px; padding-left:0px;}
label > input[type=text]{ padding-left:4px;}

fieldset{ display:block; float:left; width:100%; font-weight: 700}
fieldset .input-box{ width: 60%; float:right; display:block }
fieldset .input-box label { display:inline-block; width:auto; margin-right:4px;}

.event-occation-view .signup-slot, 
.event-occation-view .resource-bookings{ padding:6px; border:2px solid #ddd; width:606px; display: inline-block; vertical-align: top; margin-bottom:10px; background: #fff;}

.event-occation-view .resource-bookings{ margin-right:0px; }
.event-occation-view .signup-slot{ margin-right:10px; }
.event-occation-view .signup-slot table, 
.event-occation-view .resource-bookings table { margin-bottom:6px;}

.event-occation-view .signup-slot table tr button, 
.event-occation-view .resource-bookings table tr button{ visibility:hidden;}

.event-occation-view .signup-slot table tr:hover button, 
.event-occation-view .resource-bookings table tr:hover button{ visibility:visible;}


ul.signup-slots > li , ul.resource-bookings > li { margin-bottom:30px;}

.delete-button-col{ text-align:right;}

.left{	display: block; float:left; }
.right{	display: block;	float:right; }

span.right{ text-align:right}

.signup-slot-info{ font-style: italic; display: inline-block; }
.event-occation-info{ font-style: italic; }


.delete-button .fa{ color: #FF0000; }

.ng-pristine .save-button, 
.ng-invalid .save-button{
	color:#999;
}

.timespan-form h4{
	margin-top:0px;
}

.date-time-selection-container .time-selection-container{
	
}

.date-time-selection-container .date-selection-container{
	
}

.timepicker{ width:100px;}

.gc-date-time{ display:inline-block;}
.gc-date-time .gc-time-box{ border:1px solid #aaa; display: inline-block; padding:8px;}
.gc-date-time .gc-time-box input{ border-width:0px; display: inline-block; width:50px; }