/* header styles -------------------------------------------------------------*/
h1{font-size:20px; font-weight:800; line-height:28px; padding:8px 0px 4px 0px}
h2{font-size:18px; font-weight:800; line-height:24px; border-bottom:1px solid #888; padding-bottom:2px;}
h3{font-size:16px; font-weight:800; line-height:24px;}
h4{font-size:14px; font-weight:800; line-height:18px;}
h5{font-size:12px; font-weight:800; line-height:18px;}
h6{font-size:10px; font-weight:800; line-height:14px;}

h1,h2,h3,h4,h5,h6{ font-family: 'arial narrow', arial, sans-serif;}

/* end header styles ---------------------------------------------------------*/

/* common elements styles ----------------------------------------------------*/
a{color:#444; text-decoration: underline; }
a:link{}
a:visited{}
a:hover{ text-decoration: underline; text-decoration: none; }
a:active{}
body{height:100%; line-height:20px; color: #666; position:relative; background-color:#fff}
form { display:block }
strong{font-weight:800; font-size:120%;}
em{ font-style:italic; }
div{background-color:inherit;}
input,textarea, select, body{font-family:arial, Helvetica, sans-serif; font-size:11px; letter-spacing: 0px; word-spacing: 0px}
span.clear{height:0; line-height:0; clear:both; width:100%; position:relative; display:block}
/* end common elements styles ------------------------------------------------*/

/* general table styles ------------------------------------------------------*/
div.tableContainer{ padding:10px;}
table{width:100%}
th, td{padding:2px;}
th{ text-align:center; font-weight:800; text-align:left; font-size:14px; vertical-align:bottom;}
table tr td{vertical-align:top;}
/* end general table styles --------------------------------------------------*/


/* general styles ------------------------------------------------------------*/
.buttonLink{ text-decoration:none; font-weight:800}
.activeInput{background-color:#ff9}
.error{ color:#f00;}
/* .even{ background:#eeeeff;} */
.even{ background:#ffffff;}
.odd{ background:#ffffff;}
table{ border:1px solid #eeeeff; border-left:none; border-right:none; margin-top:10px;}
tr td{ border-top:1px solid #eeeeff;}
/* end general styles --------------------------------------------------------*/

/* layout rules --------------------------------------------------------------*/
#wrapper{ position:relative; width:100%; margin:0 auto; bottom:0px; top:0px; float:left}
#messageBox{ position:absolute; right:2px; top:2px; border:1px solid #898989; padding:4px; background-color:white; z-index:100; display:none}
.messageList li{float:left; margin-right:10px;}
#mainContent{  bottom:0px; position:relative; left:0px; right:0px; padding:0px;margin-left:160px;}
.innerMainContainer{ }
.javascriptEnabled #mainContent{  margin:0px 0px 0px 0px;}

/* end layout rules ----------------------------------------------------------*/

/* main menu ( the list to the left )-----------------------------------------*/

/* main menu layout */
#mainMenuContainer{ width:160px; position:absolute; top:0px; left:0px; right:0px; background-color:#C3C5D5; }
#mainMenu .header, 
#mainMenu > li > a{display:block; height:16px; }

.javascriptEnabled #mainMenu > li span.header{padding-left:16px; background: url(images/DropDownIndicator.png) no-repeat 0px 3px; clear:both;}
.javascriptEnabled #mainMenuContainer{  width:100%; position: relative; z-index:10; min-height: 28px; margin-bottom: 28px; min-width:500px;}
.javascriptEnabled #mainMenu > li > ul {float:left; padding:0px; min-width:100px;}
.javascriptEnabled #mainMenu > li { float:left;height:16px;}
.javascriptEnabled #mainMenu { float:left; margin:0px 220px 0px 190px;}


/* main menu colors and fonts */
#mainMenu{ line-height: 16px;}
#mainMenu .header, #mainMenu > li > a{font-size:11px; line-height:16px;font-weight:bold; }
#mainMenu .header{cursor:pointer; font-family: 'arial narrow', arial, sans-serif;}
#mainMenu > li > a{color:#000; background:none; font-family: 'arial narrow', arial, sans-serif; padding:5px;}
#mainMenu > li > ul {background-color:#fff; border:1px solid #aaa;}

#mainMenu > li.first .header{font-size:18px; line-height:24px;}
#mainMenu > li > ul > li{font-size:10px; line-height:16px; padding:0px; background-color:#FFF;}
#mainMenu > li > ul > li > a{display:block; text-decoration: none}
#mainMenu > li > ul > li > a{padding:2px;}

#mainMenu > li > ul > li > a:hover{background-color:#aaa; color:#fff}
#mainMenu a:hover{background-color:#aaa}

#mainMenu > li.loginStatusContainer{ background:#fff; border:3px solid #C3C5D5;}

.javascriptEnabled #mainMenu > li.loginStatusContainer,
.javascriptEnabled #mainMenu > li.searchContainer{ background:#fff; border:3px solid #C3C5D5; position: absolute; right:0px; width:220px; height: auto}
.javascriptEnabled #mainMenu > li.searchContainer a,
.javascriptEnabled #mainMenu > li.loginStatusContainer a{ display:inline; text-align: right;}


.javascriptEnabled #mainMenu > li.searchContainer{background: url(images/searchBoxShadow.png) no-repeat transparent  0% 100%; border:none; }
.javascriptEnabled #mainMenu > li.loginStatusContainer{background: url(images/loginBoxShadow.png) no-repeat transparent  0% 100%; border:none; }

#mainMenu .searchContainer form {}



.javascriptEnabled #mainMenu{ }
.javascriptEnabled #mainMenu > li { padding:5px;  border-right:1px solid #eee; }
.javascriptEnabled #mainMenu > li > a { padding:0px; }
.javascriptEnabled #mainMenu > li > ul > li > a{ padding:5px;}
.javascriptEnabled #mainMenu > li.loginStatusContainer{ padding:5px 0px 11px 11px; height:34px;}
.javascriptEnabled #mainMenu > li.searchContainer{ left:0px; height:40px; width:180px; padding-bottom:10px}
/* end main menu -------------------------------------------------------------*/

#articlePath{clear:both; padding-top:2px; padding-bottom:2px; margin-top:4px; font-weight:800; font-size:16px} 
#articlePath a{margin:6px;} 

/* tabbed view ---------------------------------------------------------------*/
.tabs{ padding-left:16px; min-height:26px; overflow:visible; }

.tabs a{
	position:relative;
	display:inline-block;
	background:url(images/topTab.png) 0% 0% no-repeat;
	text-decoration:none;
	height:27px;
	padding-left:20px;
	line-height:28px;
	font-size:14px;
	overflow:visible;
	margin-left:8px;
	z-index:0;
	top:2px;
}

.tabs a span.tabEnd{
	background:url(images/topTab.png) 100% 0% no-repeat;
	display:block;
	position:absolute;
	right:-20px;
	height:27px;
	width:20px;
	text-decoration:none;
	top:0px;
	z-index:0;
}

.tabs a:hover, .tabs a:hover .tabEnd,.tabs a.active, .tabs a.active .tabEnd{
	background-position-y:-46px;
	z-index:2;
}
.tabs a:hover,.tabs a.active{
	top:0px;
	margin-bottom:-1px;
}

#tabbedContainer{border-top:1px solid #aaa; z-index:1;	position:relative; padding-top:10px}

#tabbedContainer, #searchBar, #navigationBar, #mainContentTop{ padding-left:20px; padding-right:20px;}

#mainTabbedContainer form{ display:inline }
#mainTabbedContainer .tabContentDiv form{display:block}
#mainContentTop .mainContainerContent{ }
/* end tabbed view -----------------------------------------------------------*/

/* boxarna i tabbvyn ---------------------------------------------------------*/

.formBox,
.leftBox,
.rightBox{ float:left; display:block; width:390px; padding-top:10px; line-height:27px;}
.rightBox{margin-left:0px; }

.formBox label,
.leftBox label,
.rightBox label{width:130px; float:left; clear:left; display:block; text-align:right; padding-right:10px;}
.formBox input.text,
.leftBox input.text,
.rightBox input.text{ width:240px; float:left; clear:right;}
.formBox input.file,
.leftBox input.file,
.rightBox input.file{ width:240px; float:left; clear:right;}
.formBox input.password,
.leftBox input.password,
.rightBox input.password{ width:240px; float:left; clear:right;}
.formBox select,
.leftBox select,
.rightBox select{ width:244px; float:left; clear:right; padding:2px}
.formBox .buttonBox,
.leftBox .buttonBox,
.rightBox .buttonBox{float:left;display:block;clear:right; width:250px;}
.formBox textarea,
.leftBox textarea,
.rightBox textarea{ width:240px; height:200px; float:left;}
.formBox .submit,
.leftBox .submit,
.rightBox .submit{float:right; clear:both; margin:3px;}

/* end boxarna i tabbvy ------------------------------------------------------*/


.uninitializedInput{ font-style:italic; color:#999;}

.tabContentDiv > form{ position:relative; }

#anmalningsmojlighetslista li{padding-left:14px}
#arrangemangslista .type{background:#000; color:#fff}

.anmalningsvy{width:290px;margin:0 auto}
.messagebox{ width:278px;  padding:5px;border:1px solid black}
.anmalningsvy #arrangemangslista{ width:290px;}

.container{ height:270px; overflow: scroll; width:283px}


/* PersonSelector */
.ajaxSelector_searchField{margin-bottom:6px; border:1px solid #888; width:348px;}
.ajaxSelector_cancelButton{float:right}
.ajaxSelector_mainContainer{display:none}
.ajaxSelector_mainContent ul{width:350px; height:400px; overflow:auto;}

/* end PersonSelector */

.artikelkategorilista ul > li{
	padding-left:10px;
}

.artikelkategorilista li.active > .content{
	background-color:#eee;
	margin:5px;
	padding:5px;
}

.artikelkategorilista li.active > .content > ul li *{
	font-weight:400;
}

.artikelkategorilista h3,.artikelkategorilista h4{ display:inline; }

.artikelkategorilista ul > li li,.artikelkategorilista .newForm{
	padding-left:20px;
}

.artikelkategorilista{
	margin:0 10px 20px 10px;
	color:red;
}

.artikelkategorilista ul li{
	font-weight:400;
}

.artikelpristabell input{
	width:60px;
}


.datebox{display:inline-block; width:90px;}



#eventOccationList{ color:#333}
#eventOccationList li{ margin-top:20px; border:1px solid #AAA; /*margin-right:20px*/; background-color:#C3C5D5; min-width:510px; max-width:1858px}
#eventOccationList h2,
#eventOccationList h3,
#eventOccationList h4,
#eventOccationList h5,
#eventOccationList h6{ color:#333;}
#eventOccationList h2{ margin:0px 0px 0px 0px; line-height:20px; }
#eventOccationList h3{ margin:0px 0px 0px 0px; padding-left:10px; padding-top:4px; float:left;}
#eventOccationList h4{ margin:0px 0px 0px 0px; float:left; padding:3px; clear:both}
#eventOccationList h5{ margin:4px 6px 0px 0px; float:left;}
#eventOccationList h6{ margin:10px 0px 0px 0px;}
#eventOccationList label{width:105px;}
#eventOccationList .intervallbox,
#eventOccationList .passnamnsbox,
#eventOccationList .anmalningsmojlighet_detaljer,
#eventOccationList .anmalningstypsbox{ display:block; float:left;margin-right:20px; width:500px; }
#eventOccationList .buttons{ display:block; float:right; top:-1px; position:relative;}
#eventOccationList .standard{ vertical-align:top; }
#eventOccationList ul.passlista{ }
#eventOccationList ul.passlista > li{ margin-bottom:10px;}
#eventOccationList .linkButtonEnd{ right:0px; height:18px; display:none;}
#eventOccationList .submit{ background:url(images/submit_small.png); width:17px; height:17px; border:none; text-indent:-10000%; margin:1px; padding:0px; top:0px; left:0px; font-size:19px; line-height:19px; vertical-align:middle}
#eventOccationList .delete{ background:url(images/delete_small.png); width:17px; height:17px; border:none; text-indent:-10000%; margin:1px; padding:0px; top:0px; left:0px; font-size:19px; line-height:19px; vertical-align:middle }
#eventOccationList .cancel{ background:url(images/undo.png); width:34px; height:34px; border:none; text-indent:-10000%; margin:1px; padding:0px; top:0px; left:0px; font-size:20px; line-height:24px;vertical-align:middle}

#eventOccationList table.anmalningstabell td.removeBtnColumn .submit ,
#eventOccationList table.platstabell td.removeBtnColumn .submit{ background:url(images/delete_small.png); width:17px; height:17px; display:block;}

#eventOccationList table.anmalningstabell .removeBtnColumn,
#eventOccationList table.anmalningstabell .indexColumn{width:20px;}
#eventOccationList table.anmalningstabell .godkandkolumn{width:40px; text-align:center}

.triggerList{ width:20%; position:absolute;  padding-top:28px; border-bottom:1px solid black }
.triggerList li { background:#c3c5d5;}
.triggerList li a{ display:block; padding:4px 5px 4px 5px;display:block; border-right:1px solid black; border-top:1px solid black; text-decoration:none;border-left:1px solid black;}
.triggerList li a.active,
.triggerList li a:hover{background:#fff; border-right:none}

#eventOccationList{ right:0px;}
#eventOccationList .editBtn{ float:right; margin-top:4px; width:60px;}

/*
#eventOccationList table{border:1px solid #c3c5d5; border-bottom:none; width:560px; background:#fff;}
#eventOccationList table td,
#eventOccationList table th{ border:1px solid #c3c5d5; border-left:none; border-right:none; border-top:none}
*/
.sectionHeader{ margin-left:10px;}
.section{position:relative; min-height:200px}

.section > table{ margin-right:20px;}

#eventOccationList .secondaryMenu{ margin-left:-1px}
#eventOccationList .secondaryMenu ul{ float:left; width:570px;}
#eventOccationList .secondaryMenuBg {  position:relative;  border-top:1px solid black;}

#eventOccationList .secondaryMenu li{ display:inline-block; margin-right:2px; font-weight:800; font-size:12px;}
#eventOccationList .secondaryMenu a{ display:block; margin:2px; position:relative; text-decoration:none; color:#666;background-image:url(images/ViewButton.png); background-repeate:none; padding:2px; padding-left:12px;margin-right:10px;
}

#eventOccationList .secondaryMenu a .end{
	background:url(images/ViewButton.png) 100% 0%;
	display:block;
	position:absolute;
	right:-10px;
	height:24px;
	width:10px;
	text-decoration:none;
	top:0px;
}

#eventOccationList .secondaryMenu a:hover, #eventOccationList .secondaryMenu a:hover .end,
#eventOccationList .secondaryMenu a.active, #eventOccationList .secondaryMenu a.active .end{
	background-position-y:-24px;
}



#eventOccationList .secondaryMenu a.active,
#eventOccationList .secondaryMenu a:hover{
	background-color:#fff;
	color:#000;
}

#eventOccationList .anmalningsmojlighetlista li{ background:#c3c5d5;
margin-bottom:8px;
}

#eventOccationList .sektion{margin:10px 0pc 0px 10px; clear:both; }
#eventOccationList .summary{
	float:left; margin-top:4px;
}

#eventOccationList label{ display:block; float:left; clear:left; text-align:right; line-height:24px; margin-right:3px;}
#eventOccationList .text,
#eventOccationList .buttonBox,
#eventOccationList input{ display:block; float:left; clear:right;}
#eventOccationList .anpassat{ float:left; clear:both;}

.orderbetalningsformular table{}
.orderbetalningsformular table td{width:120px; position:relative; padding-left:4px;}
.orderbetalningsformular table td input{width:100%;}


.webbshopvy .order td{padding:0px;}
.webbshopvy .order input{margin:0px;}
.webbshopvy .submitOrderBox{float:right;}
.webbshopvy .updateSubmitBox{float:right;}
.webbshopvy input.count{width:30px;}
.webbshopvy .articleIdCol{ 	width: 60px;}
.webbshopvy .countCol{ 		width: 40px;}
.webbshopvy .articleCol{	width: auto}
.webbshopvy .perEachCol{	width: 50px;}
.webbshopvy .rowTotalCol{	width: 50px;}
.webbshopvy .notering{ width:200px; padding:1px; margin:0px; height:30px;}

#inbetalningstabell td input{ width:200px; padding:3px; margin:0px;}
#inbetalningstabell td select{width:200px; padding:3px; margin:0px;}

.buttonLink{
	position:relative;
	display:inline-block;
	background:url(images/SubmitButton.png) 0% 0%;
	text-decoration:none;
	height:24px;
	padding-left:10px;
	line-height:24px;
	font-size:12px;
	margin-right:10px;
}

.buttonLink .end{
	background:url(images/SubmitButton.png) 100% 0%;
	display:block;
	position:absolute;
	right:-10px;
	height:24px;
	width:10px;
	text-decoration:none;
	top:0px;
}

.editLink{ display:block; float:left; line-height:24px; font-style:italic; margin-left:6px; }
.pass > a.editLink{line-height:32px}

.buttonLink:hover, .buttonLink:hover .end{
	background-position-y:48px;
}

.buttonLink:active, .buttonLink:active .end{
	background-position-y:24px;
}

a.disabled{ color:#888; cursor:default!important}

a.disabled:hover, .buttonLink.disabled:hover .end{
	background-position-y:0px;
}

a.disabled:active, a.disabled:active .end{
	background-position-y:0px;
}

.left{float:left;}
.right{float:right;}
.sektion form{
	clear:both;
}

.signupTypeContainer,.resourceBookingsContainer,.newSignupTypeContainer, .newEventOccationContainer{
	width:446px;
	float:left;
	padding-bottom:10px;
	border:0px solid #eee;
	padding:3px;
	margin-right:10px;
	margin-bottom:10px;
	background:#fff;
	position:relative;
}

.signupTypeContainer a.addSignupButton,
.resourceBookingsContainer a.resursSok{ background:url(images/SmallButtons.png) -16px 0%; width:16px; height:16px; text-indent: -10000px; padding:0px!important; position:absolute; top:3px; right:3px; margin:0px!important }
.signupTypeContainer a.addSignupButton .end,
.resourceBookingsContainer a.resursSok .end{ display:none; }
.signupTypeContainer a.addSignupButton:hover,
.resourceBookingsContainer a.resursSok:hover{background-position-y:32px;}
.signupTypeContainer a.addSignupButton:active,
.resourceBookingsContainer a.resursSok:active{background-position-y:16px; }

.signupTypeContainer .signupTable a.deleteButton,
.resourceBookingsContainer a.deleteButton{ background:url(images/SmallButtons.png) 0px 0%; width:16px; height:16px; text-indent: -10000px; padding:0px!important; position:absolute; top:3px; right:3px; margin:0px!important }
.signupTypeContainer .signupTable a.deleteButton .end,
.resourceBookingsContainer a.deleteButton .end{ display:none; }
.signupTypeContainer .signupTable a.deleteButton:hover,
.resourceBookingsContainer a.deleteButton:hover{background-position-y:32px;}
.signupTypeContainer .signupTable a.deleteButton:active,
.resourceBookingsContainer a.deleteButton:active{background-position-y:16px; }

.signupTable tr td{position:relative;}

#eventOccationList .signupTypeContainer .formBox,
#eventOccationList .newSignupTypeContainer .formBox{ width:446px; margin:0px}
#eventOccationList .signupTypeContainer .formBox label,
#eventOccationList .newSignupTypeContainer .formBox label{ width:120px}

.newSignupTypeContainer{
	clear:both;
}

.newEventOccationForm{
	margin-bottom:10px
}


.signupTypeContainer span.info{
	font-style:italic;
	float:none;
	display:block;
	clear:both;
}

.signupTable tr .buttonCol{ width:60px}
.signupTable tr .approvalCol{ width:50px; text-align: center}
.signupTable tr .nameCol{}
.signupTable tr .isMainResourceCol{ width:80px; text-align:center}
#eventOccationList .signupTable tr .isMainResourceCol input{ display:inline; float:none}

.signupTable{
	border-bottom:none;
}
.signupTable tr th{
	font-size:10px;;
}

.signupTable tr td{
	height:24px;
}

#eventOccationList .h3{
	line-height:24px;
	font-size:24px;
}

#eventOccationList  h5{
	display:block;
	float:left;
	margin:0;
	line-height:20px;
	font-size:18px;
}
#eventOccationList .signupTypeContainer .addSignupButton{
	display:block;
	float:left;
	margin:0px;
}

#eventOccationList tr.new{
	font-style:italic;
}

table.resourceTypeList .typeCol{ width:20px;}
table.resourceTypeList .buttonsCol{ width:200px;}
table.resourceTypeList td{ height:28px;}

#DOMWindow .domInnerContainer{
	position:absolute;
	top:22px;
	left:0px;
	right:0px;
	overflow-y:auto;
	bottom:0px;
}

#DOMWindow .domOuterContainer #closeBtn{
	position:absolute;
	top:3px;
	right:3px;
	background:url(images/SmallButtons.png) -64px 0%; width:16px; height:16px; text-indent: -10000px; padding:0px!important; margin:0px;
}

#DOMWindow .domOuterContainer #closeBtn .end {
	display:none;
}

#DOMWindow .domOuterContainer #closeBtn:hover{
	background-position-y:32px;
}

#DOMWindow .domOuterContainer #closeBtn:active{
	background-position-y:16px;
}


#DOMWindow .buttonContainer{
	position:absolute;
	left:0px;
	right:0px;
	height:24px;
	bottom:0px;
	padding:2px;
	border-top:4px solid #CCC;
}

#DOMWindow .eventTypeList{
	background:#ddd;
	padding:4px;
}

#DOMWindow .eventTypeList > li{
	margin-bottom:10px;
}

#DOMWindow .eventList ul{
	margin-left:10px;
	margin-right:10px;
}

#DOMWindow .eventTypeList > li > span.label{
	font-size:18px;
	font-weight:800;
	display:block;
	border-bottom:1px solid #ddd;
}

#DOMWindow .eventList > li{
	font-size:16px;
	font-weight:400;
}

#DOMWindow .eventOccationList > li{
	font-size:14px;
	font-weight:400;
}

#DOMWindow .signupSlotList > li{
	font-size:12px;
	font-weight:400;
	background:#fff;
	margin:1px;
	padding:1px 2px;
	line-height:24px;
}

#DOMWindow .signupSlotList > li > input{
	float:right;
	clear:both;
	display:block;
}

.idCol{ 	width: 30px;}
.thumbCol{ 	width: 36px;}
.buttonCol{ 	width: 71px;}
.shadedText{ background-color:#C3C5D5; padding-top:3px; padding-bottom:3px; padding-left:4px; margin-bottom:0px;}
.articleTable{ margin:0px; margin-bottom:6px; border:1px solid #eee;}
.orderCol{ width:236px;}

#cart{ border:1px solid #C3C5D5; padding:0px; }
#cart table, #cart #status, #cart #buttons{ padding:4px;}
.sectionContent{ margin:20px; margin-left:0px}


.formBox{
	width:390px;
	margin-right:20px;
	float:left;
}

.sectionBox{
	border:10px solid #C3C5D5;
	padding:4px;
	float:left;
	width:880px;
	margin: 20px 20px 0px 0px;
}

#organizer{width:218px;}
#selectOrganizer{float:left;}

#scheduleListContainer #hourList{
	position:absolute;top:0px; bottom:0px; margin-left:198px; margin-top:2px;  border:1px solid #888; right:0px; left:0px; 
}

#scheduleListContainer #hourList li{
	text-align:center;position:absolute; display:block; bottom:0px; top:0px;
}

#scheduleListContainer #hourList li.even{
	
}
#scheduleListContainer #hourList li.odd{
	background:#eeeeff;
}

#scheduleListContainer{ position:relative; padding-top:1px;margin:20px;}
#scheduleList{ font-size:0.8em; margin-top:26px;border-bottom:1px solid #999;border-left:1px solid #999;}
#scheduleList > li {min-height: 20px; left:0px; position:relative; right:0px; color:#000}
#scheduleList > li > .resourceLabel{ position:relative; left:0px;  border:1px solid #999; padding-left:0px; font-weight:800; background:#fff; z-index:10; border-left:none; line-height:22px}
#scheduleList > li > .unavailable a{font-style: italic; color:#999;}
#scheduleList > li > .resourceLabel a{display:block; padding-left:4px; text-decoration: none; right:0px; position:relative; left:0px; height:22px }
#scheduleList > li > .resourceLabel a:hover{background-color: #fff;cursor:url(images/addCursor.png), hand; border:1px solid #ddd;line-height:20px; height:20px; padding-left:3px;}
#scheduleList > li .eventList{ margin-left:22px }
#scheduleList > li .eventList li{ position:relative; height:18px;}
#scheduleList > li .eventList li > .eventLabel{width:116px; overflow:hidden; float:left; position:absolute; height:100%}
#scheduleList > li .bookingList{ position: relative; min-height: 2em; margin-left:176px;}
#scheduleList > li .bookingList > li{padding:0px; height:1.7em;  position:absolute; width:220px; overflow:hidden; text-indent: -200%; background:#99c; color:#888; border:1px solid black; opacity:0.6}
#scheduleList > li .bookingList > li a {display:block; overflow:hidden; text-indent: -1000px;}
#scheduleList > li .bookingList > li a:hover{cursor:url(images/closeCursor.png), hand;}

#scheduleListContainer{ position:relative; padding-top:1px;margin:20px;}
#eventScheduleList{ font-size:0.8em; margin-top:26px;border-bottom:1px solid #999;border-left:1px solid #999;}
#eventScheduleList > li {min-height: 20px; left:0px; position:relative; right:0px; color:#000}
#eventScheduleList > li > .resourceLabel{ position:relative; left:0px; right:2px; border-top:1px solid #999; padding-left:0px; font-weight:800; height:19px; }
#eventScheduleList > li > .unavailable a{font-style: italic; color:#999;}
#eventScheduleList > li > .resourceLabel > a{display:inline-block; padding-left:4px; text-decoration: none; right:0px; position:relative; left:0px; width:193px;}
#eventScheduleList > li > .resourceLabel > a:hover{background:#eeffee;}
#eventScheduleList > li .eventList{ margin-left:22px }
#eventScheduleList > li .eventList li{ position:relative; height:18px; }
#eventScheduleList > li .eventList li > .eventLabel{width:116px; overflow:hidden; float:left; position:absolute; height:100%}
#eventScheduleList > li .bookingList{ position: relative; min-height: 2em; margin-left:176px;}
#eventScheduleList > li .bookingList > li{padding:0px; height:1.7em;  position:absolute; width:220px; overflow:hidden; text-indent: -200%; background:#99c; color:#888; border:1px solid black; opacity:0.6}
#eventScheduleList > li .bookingList > li a {display:block; overflow:hidden; text-indent: -1000px; height:19px;}
#eventScheduleList > li .bookingList > li a:hover{cursor:url(images/closeCursor.png), hand;}
#eventScheduleList > li .occationList{ position: absolute; min-height: 2em; display:inline-block; left:0px; margin-left:198px; top:1px}
#eventScheduleList > li .occationList > li{padding:0px; height:1.7em;  position:absolute; width:220px; overflow:hidden; text-indent: -200%; background:#999; color:#888; border:1px solid black; opacity:0.3}
#eventScheduleList > li .occationList > li > a {display:block; overflow:hidden; text-indent: -1000px;}
#eventScheduleList > li .occationList > li > a:hover{ background-color: #fff;cursor:url(images/addCursor.png), hand;}


#dateList{
	position:absolute;top:-20px; bottom:0px; margin-left:198px; margin-top:2px;  border:1px solid #888; right:0px; left:0px;  
}

#dateList li{
	text-align:left;position:absolute; display:block; bottom:0px; top:0px; padding-left:0px;
}

#dateList li .dateLabel{
	display:block; padding-left:4px;
}

#dateList li.even{
	background:#fff;
}
#dateList li.odd{
	background:#eeeeff;
}

#DOMWindow .occationList{
	height:428px;
	overflow: auto;
}

#DOMWindow div.scrollContainer{
	height:425px;
	overflow: auto;
}
#DOMWindow .occationList .event{ background:#aaa; margin-top:20px}
#DOMWindow .occationList .eventOccation{ padding-left:20px;}
#DOMWindow .occationList li.colliding { color:red; font-style: italic}
#DOMWindow .occationList .unavailable {font-style: italic; color:#999;}



#DOMWindow .resourceList{
	
}

#DOMWindow .resourceList .event{ background:#aaa; margin-top:20px}
#DOMWindow .resourceList .eventOccation{ padding-left:20px;}
#DOMWindow .resourceList .colliding { color:red; font-style: italic}
#DOMWindow .resourceList .unavailable {font-style: italic; color:#999;}

#DOMWindow .headingContainer{ height:16px;}
#DOMWindow .bookingCheckboxHeader{}
#DOMWindow .mainResourceRadioHeader{}
#DOMWindow .resourceHeader{}

#lbDialogue{display:none;}
#DOMWindow #lbDialogue{display:block;}

input.error{ background:#f00; color:#fff;}

.personForm .foreignAddress{ height:40px;}

#ajaxStatusBox{position: fixed; top:0.5em; left:0.5em; padding:6px; z-index:2000; border:1px solid #000; background-color: #fcefa1; font-size:110%; display:none;}

a:focus ,a:focus .end,a:focus .tabEnd{color:#ffe45c;}

div.tinyContainer{
	max-width:750px;
	float:left;
	margin-right:20px;
}

div.tinyContainer .textarea{
	width:720px;
	float:left;
	margin-right:20px;
	height: 80px;
}



div.tinyContainer .mceLayout iframe{
	width:750px!important;
	height:200px!important;
}

div.tinyContainer .mceLayout .mceResize{
	display:none!important;
}

dl.orderData{float:left;}
dl.orderData dt{float:left; clear:left; width:120px; font-size:110%; font-weight:800; padding:4px; text-align: right;}
dl.orderData dd{float:left; clear:right; width:280px; padding:4px;}



.articleOrderRowStatistics h5, .articleCustomerList h5{
	font-size:16px;
	margin-bottom:4px;
}
.articleOrderRowStatistics{
	float:left;
	width:416px;
}

.articleCustomerList{
	float:left;
	width:600px;
}

dl.orderData dd input{ z-index:100; position:relative;}

.suggestions{
	left:6px;
	top:6px;
	position:absolute;
	z-index:99;
	color:#666;
	background:#fff;
	border:1px solid #aaa;
	width:206px;
}

.suggestions li{
	font-size:10px;
	padding-left: 4px;
	line-height: 20px;
	height:19px;
	overflow:hidden;
		
}

#clientSelector{
width:200px;	
	
}

.orderPaymentRegisterForm{
	width:auto;
}

tr.cancelled td{ text-decoration: line-through;}

.orderPaymentRegisterForm .orderIdCol{}
.orderPaymentRegisterForm .idCol{}
.orderPaymentRegisterForm .amountCol{}
.orderPaymentRegisterForm .timeCol{ width:120px;}
.orderPaymentRegisterForm .paymentMethodCol{}

.orderPaymentRegisterForm input{
	width:345px;
}
.subjectInput{ width:734px; font-size: 2em}

.newsLetterContent{float:left; margin-right:10px;}

.recipientSelect {display:block; float:left; margin-top: 10px;border:1px solid #eee; padding:4px; margin-right:10px;width:734px;}
.recipientSelect .formBox{width:auto;}
.recipientSelect ul.selectionList{  }
.recipientSelect ul.selectionList textarea{ width:696px; height:100px }
.recipientSelect ul.selectionList li { position:relative; padding:3px;padding-left:30px;}
.recipientSelect ul.selectionList li.noPadding {padding-left:3px;}
.recipientSelect ul.selectionList > li { border-bottom:1px solid #eee}
.recipientSelect ul.selectionList > li > input.radio{position:absolute; top:3px; left:3px; float:none; display:block;}
.recipientSelect ul.selectionList > li > h4{display:inline-block;}
.recipientSelect ul.selectionList > li span.explanation{display:inline-block; margin-left:4px; font-style: italic;}
.recipientSelect ul.selectionList > li > ul.filterList{display:block; clear:both;}
.recipientSelect ul.selectionList > li > ul.filterList > li > h5{display:inline-block;}
.recipientSelect ul.selectionList > li > ul.filterList > li > input.radio{display:inline-block;}
.recipientSelect ul.selectionList > li > ul.filterList > li > input.checkbox{position:absolute; top:3px; left:3px; float:none; display:block;}
.recipientSelect ul.selectionList > li > ul.filterList select{float:none}


div.recipients{ display:block;float:left; margin-top: 10px; width:730px; border:1px solid #eee; padding:4px; margin-right:10px; padding-left:8px; padding-top:8px;}

div.recipients div.recipientList{ max-height:200px; overflow-y: auto; }

span.emailAddress{ display: block; float:left; break-inside:avoid; border:1px solid #eee; margin:0px 4px 4px 0px; padding:2px;}

a.sendNewsletterButton{ margin-top:10px; float:left; display: block;}
a.addRecipientButton{ margin-top:10px; float:right; display: block;}
a.clearRecipientsButton{ margin-top:10px; float:right; display: block;}
/*
.radioSelect .radio{ float:left; display:block; clear:left; width:20px; margin-top:6px;}
.radioSelect li{ float:left; clear:both; max-width:700px; margin-top:10px;}
.radioSelect > li{ border:1px solid #eee; margin-top:10px;}
.radioSelect .formBox{ width:auto; clear:left; padding:0px;}
.radioSelect .subForm{float:left; clear:right;}
.radioSelect h3 {float:left; font-weight:800; font-size:16px; line-height:24px; width:377px; margin-right:20px;}
.radioSelect li label{ float:left; display:block; clear:left; width:85px;}
.radioSelect .checkbox{ float:left;}
.recipients{float:left; width:400px;}
*/
#attenderSelector{}
#attenderSelector .event{ text-indent: 0px; background:red}
#attenderSelector .eventOccation{ text-indent:10px }
#attenderSelector .signupSlot{ text-indent:20px;}

.searchForm{ display:block; margin:30px 0px}
.searchForm input.text{ font-size:1.6em; width:400px}
ul.searchResult{ width:100%;}
ul.searchResult li .meta{font-style: italic; display: block; text-indent: 10px}
ul.searchResult li{ margin-bottom:4px}
ul.searchResult h3{ margin-bottom:0px;}
ul.searchResult h3 a{ display:block;}
ul.searchResult h3 a:hover{ background: #FFE7A1}

div.searchFormContainer{ margin:0px 30px 0px 10px;}


table.transactions{ margin-right:10px;}
table.transactions tr.cancelled a{ text-decoration: line-through; color:#888!important}
table.transactions .idCol{ width:20px;}
table.transactions .timeCol{ width:150px;}
table.transactions .noteCol{ }
table.transactions .amountCol{ width:100px; text-align: right; }
table.transactions .paymentMethodCol{width:130px;}
table.transactions .buttonCol{ width:200px;}

table.groupedTransactionTotals{ font-size:150%; margin-bottom:20px; float:right; width:auto;}
table.groupedTransactionTotals .amountCol{  width:200px; text-align:right;}
table.groupedTransactionTotals .paymentMethodCol{ width:300px;}
table.groupedTransactionTotals .totalRow{font-size:150%; font-weight: 800; }
table.groupedTransactionTotals .totalRow td{padding-top:10px; padding-bottom:10px; }


.filterForm input{ margin-right:20px}

dl.transactionData{float:left;}
dl.transactionData dt{float:left; clear:left; width:100px; font-size:110%; font-weight:800; padding:4px; text-align: right;}
dl.transactionData dd{float:left; clear:right; width:300px; padding:4px;}
.cancelledTransaction{color:red}

a.teamName{ font-style: italic;}

table.resourceList tr.unavailable a{ font-style: italic!important; color:#aaa!important}

.articleMainContent{ position:relative;}
.subCategoriesContainer{ width:240px;}
.articlesContainer{ position:absolute; top:0px; left:250px; right:0px;}

p.sleepingSlotBookingInfo{display:block; margin:10px; font-size:110%}
p.sleepingSlotBookingInfo em {font-weight: 800}
div.sleepingResourcesContainer{ border:1px solid #eee; padding:10px}
div.sleepingResourcesContainer h5{ font-size:130%; font-weight:800}
ul.sleepingResources{}

ul.sleepingResources > li{ padding:4px 0px}
ul.sleepingResources > li > h6{ font-size:120%; font-weight:800; line-height: 10px}
ul.sleepingResources > li > h6 input{}
ul.sleepingResources > li > ul{ padding-left:40px; margin-top:4px}
ul.sleepingResources > li > ul > li{padding:2px 0px}

.javascriptEnabled #eventOccationOverview{ position: relative; padding-top:50px; border:1px solid #888;}
.javascriptEnabled #eventOccationOverview #eventList li.even{ background:transparent!important;}
.javascriptEnabled #eventOccationOverview #eventList li.even div.eventName{ background:url(images/BlueTint.png) transparent!important;}
.javascriptEnabled #eventOccationOverview #eventList li.odd { background:transparent!important;}
.javascriptEnabled #eventOccationOverview ul.mainTimespanList{position:absolute; top:30px; bottom:0px; }
.javascriptEnabled #eventOccationOverview ul.mainTimespanList li{ position:absolute; top:0px; height:14px; text-indent: 3px; line-height: 14px; border:1px solid #888;  background: #efe;  z-index:2; font-weight:800; }

.javascriptEnabled #eventOccationOverview ul.hourList{position:absolute; top:15px; bottom:0px; border-left:1px solid #888; border-right:1px solid #888; overflow:hidden}
.javascriptEnabled #eventOccationOverview ul.hourList li{ position:absolute; top:0px; bottom:0px; text-indent: 3px; line-height: 14px; }
.javascriptEnabled #eventOccationOverview ul.hourList li.even{ background:#eee }
.javascriptEnabled #eventOccationOverview ul.hourList li.odd{ }

.javascriptEnabled #eventOccationOverview ul.dateList{position:absolute; top:0px; bottom:0px; }
.javascriptEnabled #eventOccationOverview ul.dateList li{ position:absolute; top:0px; height:14px; text-indent: 3px; border-left: 1px solid black; border-bottom:1px solid black; line-height: 14px;}
.javascriptEnabled #eventOccationOverview ul.dateList li.even{ background:#eee }
.javascriptEnabled #eventOccationOverview ul.dateList li.odd{ }

.javascriptEnabled #eventOccationOverview ul.publicTimespans{position:absolute; top:0px; bottom:0px; opacity:0.9 }
.javascriptEnabled #eventOccationOverview ul.publicTimespans li{ padding-right:2px; color:#ddd; background:#fafafa; position:absolute; top:4px; height:16px; text-indent: 3px;  border: 1px solid #888; line-height: 14px;cursor:pointer; z-index:3}
.javascriptEnabled #eventOccationOverview ul.publicTimespans li:hover{ color:#333; border-width:2px; top:3px;text-indent: 2px; padding-right:0px; }

.javascriptEnabled #eventOccationOverview h2{ border-bottom: none; border-top:1px solid #888; font-size:14px; padding-left:10px; margin:0; line-height: 19px; min-height: 22px}

.javascriptEnabled #eventList { }
.javascriptEnabled #eventList li { position:relative}
.javascriptEnabled #eventList ul.occationList {position:absolute; top:0px; bottom:0px; }
.javascriptEnabled #eventList ul.occationList li { background-color:#ccf; position:absolute; top:4px; height:16px; text-indent: 3px;  border: 1px solid #aaa; line-height: 14px; z-index:10; cursor:pointer }

#lbContainer{ position:relative;}
.javascriptEnabled #eventOccationForm{ position:relative;}
.javascriptEnabled #eventOccationForm h2{ float:left; width:100%; clear:both;}
.javascriptEnabled #eventOccationForm h3{ font-size: 14px; float:left; width:100%; clear:both;}
.javascriptEnabled #eventOccationForm table{ margin:0px;}
.javascriptEnabled #eventOccationForm table input.text{ width:50px;}
.javascriptEnabled #eventOccationForm table th{ font-size: 12px;}
.javascriptEnabled #eventOccationForm label{ width:200px; clear:left; float:left;} 
.javascriptEnabled #eventOccationForm select{ width:300px; float:left; clear: right;}
.javascriptEnabled #eventOccationForm .text{ margin:0px; width:296px; padding:0px;  float:left; clear: right;}
.javascriptEnabled #eventOccationForm .buttonBox{ margin:0px; width:300px; padding:0px;  float:left; clear: right; line-height: 15px;}
.javascriptEnabled #eventOccationForm .buttonBox span{display: inline-block; padding-bottom:2px; top:0px;}
.loader{ position:absolute; top:0px; left:0px; bottom:0px; right:0px; z-index:10; background:transparent} 
.loader .overlay{ position:absolute; top:0px; left:0px; bottom:0px; right:0px; background-color: #fff; opacity: 0.8;}
.loader .spinner{ position:absolute; top:0px; left:0px; bottom:0px; right:0px; background: transparent url(images/loader.gif) no-repeat 50% 50%}

#errorList, #infoList, #warningList{
	border:2px solid;
	padding:2px;
	margin:4px;
}

#errorList li,#infoList li, #warningList li{
	margin:4px;
}

#errorList{
	border-color:#f00;
	background-color: #faa;
	color: #f00;
}

#infoList{
	border-color:#0c0;
	background-color: #afa;
	color: #0c0;
}

#warningList{
	border-color:#fc0;
	background-color: #fea;
	color: #f80;
}

.javascriptEnabled #errorList, .javascriptEnabled #infoList, .javascriptEnabled #warningList{
	position:fixed;
	z-index: 100;
	top:0px; left: 0px; right:0px; 
	cursor: url(images/closeCursor.png), hand;
}

input.invalid{
	background-color: #faa;
	color: #f00;
}

a.addButton{ background:url(images/SmallButtons.png) -16px 0%; width:16px; height:16px; text-indent: -10000px; padding:0px!important; display: inline-block; margin:0px!important }
a.addButton:hover{background-position-y:32px;}
a.addButton:active{background-position-y:16px; }
.signupCountCol span.signupCount{display: inline-block; width:20px;}
.signupCountCol {text-align: center}


div.reception h2{
	text-decoration: none;
	border:none;
}

div.receptionList{border:1px solid #aaa; width:800px; margin:10px auto 0px auto; padding:10px;}
div.paymentMethodBox{ float:right; color:black!important}
div.importantCheckoutInformation{ border:1px solid #aaa; width:800px; margin:10px auto 0px auto; padding:10px;}
div.importantCheckoutInformation h3{ color:#000; font-size: 2em; margin-bottom:8px}
div.importantCheckoutInformation .submitButton{ float:right;}
div.importantCheckoutInformation > table { margin:0px; border-style:none; border-bottom-style: solid; margin-bottom:8px; }
div.importantCheckoutInformation > table { font-size: 1.1em; font-weight:800}
div.importantCheckoutInformation th{color: black; line-height: normal}
div.importantCheckoutInformation table.orderRows {margin-top:0px}
div.importantCheckoutInformation table.orderRows th{font-size: 0.8em}
div.importantCheckoutInformation table.orderRows .countCol{ width:40px; text-align: right; padding-right:5px;}
div.importantCheckoutInformation table.orderRows .articleCol{ }
div.importantCheckoutInformation table.orderRows .noteCol{ }
div.importantCheckoutInformation table.orderRows .deliveredCol{ width:45px; text-align: center;}
div.importantCheckoutInformation td.orderTableCell{ border:0px solid #eee; padding:0px}
div.importantCheckoutInformation td.orderTableCell table{ border:1px solid #eee; padding:0px; margin:0px; border-bottom:0px}
div.importantCheckoutInformation td.descriptionCol{ text-align: right; padding-right:6px}
div.importantCheckoutInformation .checkedCol{ text-align: center;}

table.files{ margin-bottom: 10px;}
table.files tr{}
table.files tr th.nameCol{ padding-left:74px}
table.files td{ line-height: normal; }
table.files td img{ float:left; display:block; margin-right:10px;}

tr.totalRow td{ font-weight:800!important; font-size:16px; }

tr.category-total td, tr.category-header td{
	font-size:1.2em;
}

tr.order-total td{
	font-size:1.5em;
}

tr.order-total td:first-child,
tr.category-total td:first-child{ text-align:right; padding-right:8px;}

table.category-order-amounts tr td:last-child,
table.category-order-amounts tr th:last-child{ width:60px; text-align: right}
