body{ background: url(images/public/body-bg.gif) repeat-x; }

.center{ text-align:center;}


nav{
	padding:0px 20px;
	margin-top:40px;
	display:block;
	background-image:url(images/public/menu-bg.gif);
	background-repeat: repeat-x;
}

nav > a{
	margin-top:2px;
	display:inline-block;
	color:#fc0;
	padding:4px;
	padding-bottom:6px;
	font-variant:small-caps;
}

nav > a.active{
	background-color:#fc0;
	color:#000;
}

nav > a:hover{
	background:#000;
	color:#fc0;
}

nav > a:first-child{
	width:225px;
	height:92px;
	background-image:url(images/cms.png);
	color:transparent;
	position:relative;
	top:-40px;
	border-bottom:1px solid transparent;
}

nav > a:first-child:hover{
	background-color:transparent;
	border-bottom:1px solid #fc0;
}

nav > a:last-child{
	float:right;
}

body .content-wrapper{
	padding:0px 20px;
}

div.cart-container{
	background-color:#fff;
	padding-bottom:1em;
	min-height:300px;
	position:relative;
	border:1px solid #999;
}

table.cart{
	width:100%;	
}

div.cart-container a.shop-link{
	position:absolute;
	bottom:0px;
	left:0px;
}

div.event-info{
	padding:20px;
	border:2px solid #999;
}

table.event-occations{
	width:100%;
}
table.event-occations th{
	width:50%;
}

#user-info-box{
	position:absolute;
	top:3px;
	right: 15px;
	border:2px solid #999;
	background-color: #fff;
	font-size:0.6em;
	padding:0px 4px;
}