/* general styles ------------------------------------------------------------*/
body{background:url(images/public/body-bg.gif) repeat-x; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; }

a{color:#000;}
a:hover{ text-decoration: none}
.html ul{ list-style: disc inside; margin:4px 0px }

input:focus{background-color:#fc0}
textarea:focus{background-color:#fc0}

.center{text-align: center;}
.right{float:right;}

span.clear{height:0; line-height:0; clear:both; width:100%; position:relative; display:block}
h1,h2,h3,h4,h5,h6,h7{font-family: Arial Narrow,Arial, sans-serif;}
h1{	font-size:2em; margin-bottom:4px; margin-top:4px;}
h2{	font-size:1.7em; font-style: italic; margin-bottom:8px;}
h3{	font-size:1.6em; font-weight:bold; margin-bottom:4px;}
h4{ font-size:1.4em; font-weight:bold; margin-bottom:6px; }

.buttonLink{ text-decoration:none;}
.buttonLink{
	position:relative;
	display:inline-block; 
	background:url(images/SubmitButton.png) 0% 0%;
	text-decoration:none;
	height:24px;
	padding-left:10px;
	line-height:24px;
	font-size:12px;
	margin-right:10px;
	font-family: arial;
}
.buttonLink .end{
	background:url(images/SubmitButton.png) 100% 0%;
	display:block;
	position:absolute;
	right:-10px;
	height:24px;
	width:10px;
	text-decoration:none;
	top:0px;
}
.buttonLink:hover, 
.buttonLink:hover .end{
	background-position-y:48px;
}
.buttonLink:active, 
.buttonLink:active .end{
	background-position-y:24px;
}

.buttonLink:focus, 
.buttonLink:focus .end{
	color:#fc0;
}



#tabbedContainer{
	margin-top:1em;	
	position:relative;
}


.sectionHeader{
	margin-top:40px;
}

/* main menu and the event type menu*/
#mainMenuBackground{ width:100%; background:url(images/public/menu-bg.gif) repeat-x 0 53px; height:85px; } 
#mainMenuWrapper{width:960px; margin:-93px auto 2em auto; clear:both; height:100px}
#mainMenuWrapper img{bottom:-1em; position:relative; float:left; }
#mainMenu{float:left;margin-top:62px;/*border-left:1px solid #fc0;*/ width:735px;}
#mainMenu > li{float:left; /* border-right:1px solid #fc0; */}
#mainMenu > li.helpListItem{ /*border-left:1px solid #fc0;*/}
#mainMenu > li a,
#eventTypeList > li > a{
	display:block;  color:#fc0;  
	padding:0px 15px 0px 15px; height:31px; margin-top:0px; 
	line-height: 30px;
	font-variant:small-caps; text-decoration: none; font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px
}

#mainMenu > li a.submitButton{ display:inline-block; line-height: 24px; height: auto}

#mainMenu > li a:hover,
#eventTypeList > li > a:hover,
#mainMenu > li a.active:hover{background-color: #000!important;}

#mainMenu > li a.active,
#eventTypeList > li > a.active{ background-color:#fc0; color:#000;}
#mainMenu > li a.active:hover,

#eventTypeList > li > a.active:hover{ color:#fc0;}

#mainMenu > li a#yourPageMenuLink{font-size:14px;line-height: 29px;}
#mainMenu > li a#yourPageMenuLink:focus{font-size:14px;line-height: 28px;}
#mainMenu a:focus{
	border:1px solid #fc0!important;
	height:29px;
	padding-left:5px; padding-right:5px;
	line-height: 29px;
}

.loginForm{}
.loginForm form .formBox{ width:405px}
.loginForm form .formBox .submitButton{ float:right;}
.loginForm{}


#eventTypeList a:focus{
	border:1px solid #fc0!important;
	height:29px;
	padding-left:4px; padding-right:4px;
	line-height: 29px;
}

#eventTypeList{ width:200px; float:right; border:2px solid #000; background-color: #888; position:absolute; top:0px; right:0px;}
#eventTypeList > li > a{ display:block; padding:5px;}



#mainContent{ clear:both; width:960px; margin:0px auto; position: relative}

/* the event list */
#eventList{width:746px;}
#eventList h3 a{color:#000; font-weight: bold}
#eventList > li{padding:10px 10px 10px 0px;}

 

.preamble{ line-height: 140%; font-style: italic; margin-bottom:10px;font-family: Times, serif; font-size:130%;text-align: justify;color:#666;}
.eventText{ line-height: 140%; margin-bottom:10px; font-family: Times, serif; font-size:130%;text-align: justify}
.eventInfo{ 
	line-height: 140%;
	font-size:120%;
	border:2px solid #666;
	padding:4px;
	margin-bottom:10px;
	background: #aaa;
	color:#000;
}

.eventInfo .infoText{ 
	background:#fff; border:1px solid black; padding:6px 6px 0px 6px;
}


.eventInfo p{
	margin:2px 0px 12px 0px;
}

.eventOccationBox{margin-top:10px;}
.eventOccationBox ul.eventOccationList{margin-top:4px; font-size:12px; line-height:14px}

.eventOccationBox div.slotRow{ height: 30px;}

.eventOccationBox td,
.eventOccationBox th{border-right-style: none!important;}
.eventOccationBox table{border-right: 1px solid black!important;}

#userInfoBox{
	position:absolute;
	right:0px;
	top:10px;
	border:1px solid #888;
	background:#fff;
	padding:3px 3px 3px 3px;
	
}

#userInfoBox input.text,#userInfoBox input.password{
	width:100px; font-size:1em
}

#userInfoBox label{ float:none; clear:none; margin:0; padding:0; width:auto; text-align: left;  line-height: normal; display:inline-block; width:104px;font-size: 0.9em; }

/* second level menu aka tabs ---------------------------------------*/
div.tabs{margin-top:10px; }

div.tabs a.tab{margin:0 6px 0px 0px; padding:6px; color:#333;
	line-height: 30px;
	text-transform: uppercase; text-decoration: none; font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px
}

div.tabs a.tab.active{ background:#fc0; }

div.tabs a.tab:focus{
	background-color:transparent;
	border:1px solid #fc0!important;
	height:29px;
	padding-left:5px; padding-right:5px;
	line-height: 29px;
}


/* Table styles -----------------------------------------------------*/
table{
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;
	width:100%;
	margin-bottom:6px;
}
table th{
	font-weight: 800;
	text-transform: uppercase;
	padding:3px;
}
table td{ line-height:170%;}
table tr td{ border-top:1px solid #eee;}


/* form styles -------------------------------------------------------*/
.formBox{ width:455px; margin-right:20px; float:left;}
 label{width:150px; float:left; clear:left; display:block; text-align:right; padding-right:10px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 22px;}
.formBox input.text{ width:240px; float:left;}
.formBox input.password{ width:240px; float:left;}
.formBox select{ width:248px; float:left; }
.formBox .buttonBox{float:left;display:block; width:240px; padding:2px 2px;}
.formBox textarea{ width:248px; height:200px; float:left;}
.formBox .submit{float:right; clear:both; margin:3px;}
.formBox .requiredFieldIndicator{ float:left; clear:right; line-height:26px; padding-left:2px; }
input.error{ background:#f66;}

.sectionBox{margin-bottom:20px;}

.buttonColumn{width:100px; text-align: center;}


#articlePath{margin:10px 0px 20px 0px; font-size:120%;}
#articlePath a{margin-right:10px}

#cart{}
#cart .idCol{ width:40px; text-align:right; padding-right:10px;}
#cart .nameCol{ min-width:400px}
#cart .noteCol{ min-width:230px}
#cart .countCol{width:30px; text-align:right; padding-right:10px;}
#cart .pricePerEachCol{min-width:70px; text-align:right; padding-right:10px;}
#cart .totalPriceCol{width:90px; text-align:right; padding-right:10px;}
#cart .buttonsCol{ width:20px; text-align: right}

#cart #status{display:block; clear:both; margin-bottom:10px; line-height: 20px; margin-right:36px;}
#cart #statusLabel{display:block; clear:both; height:20px; }
#cart #cartTotal{display:block; float:right; font-size:18px; font-weight:bold;}
#cart #cartTotalLabel{font-size:12px;}

#cart .deleteButton{ background:url(images/SmallButtons.png) 0% 0%; width:16px; height:16px; text-indent: -10000px; padding:0px!important; margin:2px; text-align: left;}
#cart .deleteButton .end{ display:none; }
#cart .deleteButton:hover{ background-position-y: -16px}
#cart .deleteButton:active{ background-position-y: -32px}

#cart #cartTable {width:960px}

#cart .countCol input{ width:35px;}
#cart .countCol input{ text-align:right;}

#cart #buttons{}


.articles{ margin:10px 0px 20px 0px;}
.articles .idCol{ width:40px; text-align:right; padding-right:20px;}
.articles .nameCol{}
.articles .priceCol{ width:90px; text-align:right; padding-right:20px;}
.articles .addToOrderCol{ width:153px}
.articles .addToOrderCol input{ width:50px}

.categoryDescription{
	border: 1px solid black;
	background: #fff;
	padding:10px;
	margin-bottom:10px;
}

.categories{ margin:20px 0px 10px 0px;}
.categories .idCol{ width:40px; text-align:right; padding-right:20px;}
.categories .nameCol{}

.categoriesContainer{
	margin-bottom: 12px;
	width:960px;
	position:relative;
}
a.categoryBox{
	display:block;
	float:left;
	height:130px;
	width:136px;
	border:1px solid #aaa;
	padding:4px 4px 64px 4px;
	margin-left:12px;
	margin-bottom:12px;
	position: relative;
	-moz-border-radius:5px;
	border-radius: 5px;
}

a.categoryBox:hover{
	border:2px solid #000;
	padding:3px 3px 63px 3px;
}

a.categoryBox img{
	display:block;
	margin:auto auto;
	vertical-align: middle;
	max-width: 136px;
}

a.categoryBox span.categoryName{
	display:block;
	height:56px;
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	text-align: center;
	font-size: 10px;
	font-weight: 800;
}

.newsArticles{list-style: none}
.newsArticles > li{margin-bottom:40px; }

.newsContainer h2{float:left;}
.newsContainer .author{font-style: italic; float:right;}
.newsContainer .preamble{letter-spacing: 0.01em; color:#666; line-height: 130%; margin-bottom:10px; clear:both; font-family: Times, serif; font-size:130%; margin:0px 0px 20px 0px; text-align: justify;}
.newsContainer .text{ line-height: 140%; margin-bottom:10px;font-family: Times, serif; font-size:130%;margin:0px 0px 20px 0px;text-align: justify}



.newsArticlesContainer{ width:680px; float:left;}
.newsArticlesContainer h2{ font-weight: 800; font-size:2.6em; font-style: normal }

.startPageArticles{}
.startPageArticles h3{ float:left; font-weight: 400; font-size:2.1em}
.startPageArticles .author{}
.startPageArticles .preamble{ margin:0px 0px 10px 0px}
.startPageArticles .text{margin:0px 0px 20px 0px}

.startPageCart{ background: #fff; border:1px solid #ddd; min-height: 200px; float:right; width:220px; padding:4px; padding-bottom: 20px; position: relative;}
.startPageCart h4{ float:left;}
.startPageCart table{}
.startPageCart table th{ color:#bbb; font-weight: 400;}
.startPageCart td{ line-height: 14px; vertical-align: bottom;}
.startPageCart td.nameCol{}
.startPageCart td.countCol{ text-align: right}
.startPageCart td.totalPriceCol{ text-align: right; width: 40px;}
.startPageCart span.cartTotal{ display:block; text-align: right; font-weight: 800; margin:4px 0px 4px 0px; font-size: 120%}
.startPageCart .shopLink{display:block; position: absolute; bottom:4px; left:4px;}
.startPageCart .checkoutLink{display:block; position: absolute; bottom:4px; right:4px; }

.noteCol { position:relative;}
.noteCol textarea{ left:0px; right:0px; position:absolute;}
td{vertical-align: top;}

.updateCartButton{float:right; clear:both; margin-bottom:10px;}
.nextCheckoutStepButton{float:right; clear:both;}

.stepDescription{ margin-bottom:20px; display:block; line-height: 120%}

.orderNoteLabel{ display:block; float:none; font-size:10px!important; text-transform: uppercase; width:auto; text-align:left;}
textarea.orderNote{width:944px;;}
td.noteCol{font-style: italic; width:260px;}

#orderNote{width:936px; padding:6px; font-style: italic; margin-bottom:10px; border:1px solid #ccc; min-height:50px} 

.paymentMethodForm{ line-height: 20px;}
.paymentMethodForm fieldset{ margin-bottom:10px; border:1px solid #eee}
.paymentMethodForm fieldset .information{ padding:4px;}
.paymentMethodForm label{ margin-left:0px; display:inline-block; width:200px; text-align: left; float:none}
.paymentMethodForm .radio{ margin:10px 10px;display:inline-block; width:12px;}
.paymentMethodForm .information{ margin-left:0px; display:inline-block;}
.paymentMethodForm .additionalFields { margin-left:32px; display:block; clear:both;}
.paymentMethodForm .additionalFields label{ display:inline-block; width:70px;}

.registrationForm h3{
	font-size:14px; font-weight:bold; padding: 8px 0px 2px 0px; border-bottom:1px solid #ccc;
}

.payment{ font-size:12px; margin:30px 0px}
.payment h3{ }
.payment strong{ font-weight: 800; font-size: 1.4em;}
.payment p.paymentInstructions{
	display: block;
	line-height: 1.5em;
	
}



.teamName{
	font-style: italic;
	color: #666;
	
}

ul.eventSubMenu {
	float:left;
	clear:both;
	width:100%;
	margin-bottom:10px;
	margin-top:-10px
}
ul.eventSubMenu > li{
	float:left;
}

ul.eventSubMenu > li > a{
	display:block;  
	padding:6px; margin-top:0px; 
	text-transform: uppercase; text-decoration: none; font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; 
	
}

ul.eventSubMenu > li > a:hover{
	background:#fc0;
}
p.sleepingSlotBookingInfo{display:block; margin:10px; font-size:110%}
p.sleepingSlotBookingInfo em {font-weight: 800}
div.sleepingResourcesContainer{ border:1px solid #eee; padding:10px}
div.sleepingResourcesContainer h5{ font-size:130%; font-weight:800}
ul.sleepingResources{}

ul.sleepingResources > li{ padding:4px 0px}
ul.sleepingResources > li > h6{ font-size:120%; font-weight:800; line-height: 10px}
ul.sleepingResources > li > h6 input{}
ul.sleepingResources > li > ul{ padding-left:40px; margin-top:4px}
ul.sleepingResources > li > ul > li{padding:2px 0px}

.organizerPageTitle{ margin-top:20px;   font-weight: 800 }
span.data{ line-height: 22px; font-size: 12px; font-style: italic; float:left; display: block; width:295px}

div.tinyContainer{margin-bottom:10px;}

.signupTypeContainer,.resourceBookingsContainer{
	width:292px;
	float:left;
	padding-bottom:10px;
	border:1px solid #eee;
	border-width: 0px 1px;
	padding:3px;
	margin-right:12px;
	margin-bottom:10px;
	background:#fff;
}	

.signupTypeContainer hr,.resourceBookingsContainer hr{
	display:none;
}

.signupTypeContainer{ 
}

.pass{
	padding:10px; background: #fff;border:1px solid #eee;
	padding-right:0px;
	margin-bottom:10px;
}

.signupTypeContainer .buttonLink{ background:url(images/SmallButtons.png) 0% 0%; width:16px; height:16px; text-indent: -10000px; padding:0px!important; margin:2px;}
.signupTypeContainer .buttonLink .end{ display:none; }
.signupTypeContainer .deleteButton:hover{
	background-position-y:32px;
}
.signupTypeContainer .deleteButton:active{
	background-position-y:16px;
}

.signupTypeContainer .submitButton{
	background-position-x:16px;
}
.signupTypeContainer .submitButton:hover{
	background-position-y:32px;
}
.signupTypeContainer .submitButton:active{
	background-position-y:16px;
}




.resourceBookingsContainer td.nameCol{font-weight:800}


.resetPasswordContainer{}

.resetPasswordContainer p{ font-size:12px; display:block; }
.resetPasswordContainer h3{ display:block; clear:both;}
.resetPasswordContainer form{ display:block; padding-left:20px;margin-top:5px; margin-bottom:20px;}
.resetPasswordContainer p.contactInfo{ font-size:10px;}

.errorText{ color:red}

.wizardContainer{ position:relative; margin-top:10px; border:2px solid black; background:#fff; padding:10px; padding-bottom:30px;}
.wizardContentContainer{ line-height: 125%; font-family: Times, serif; font-size: 125%; color:#444;}
.wizardContainer .navigationContainer{ position:absolute; bottom:10px;}
.wizardContainer .navigationContainer a{ font-variant: small-caps; font-size: 12px; color:#666}
.wizardContainer .previousStep{ left:10px;}
.wizardContainer .nextStep{ right:10px;}
.wizardContainer .closeWizard{ top:10px; right:10px; bottom:auto}

.newTeamSignup .buttonLink, .personSignup .buttonLink{
	float:right;
}

.eventOccationBox table form{ display:block; float:right;}

.errorList,
.messageList,
.warningsList{
	border-width:2px;
	border-style: solid ;
	margin-top:20px;
	padding:2px;
}

.errorList{
	background-color: #faa;
	color: #f00;
	border-color: #f00;
}

.messageList{
	background-color: #fea;
	color:  #f80;
	border-color: #fc0;
}

.warningsList{
	background-color: #fea;
	color:  #f80;
	border-color: #fc0;
}

.errorList li,
.warningsList li,
.messageList li
{
	margin:4px;
}

#personList{}
#personList td.buttonCol{ text-align: right;}
.signupList td.buttonCol{ text-align: right;}

.orderData{}
.orderData dt{ float:left; clear:left;font-weight: 800; width:200px; margin-bottom:10px; text-align: right}
.orderData dd{ float:left; clear:right;text-indent:20px; width:200px; margin-bottom:10px;}

p.orderNote{ display:block; padding:2px; background: #fff; border:1px solid #ddd; min-height: 200px}

table{ background: #fff}
table.orderRows tr { }
table.orderRows th{padding: 3px; text-align: center;}
table.orderRows th.articleIdCol {width:50px; padding:0px;}
table.orderRows th.nameCol { min-width:250px;}
table.orderRows th.countCol { min-width:45px;}
table.orderRows th.pricePerEachCol { min-width:70px}
table.orderRows th.totalPriceCol { min-width:70px;}
table.orderRows th.deliveryStatusCol { min-width:130px;}
table.orderRows th.orderRowNoteCol{min-width:150px; }

table td{padding: 3px; }
table.orderRows td.articleIdCol { text-align: right; border-right:1px solid #ddd}
table.orderRows td.nameCol{ border-right:1px solid #ddd}
table.orderRows td.countCol{ border-right:1px solid #ddd}
table.orderRows td.pricePerEachCol {text-align: right; border-right:1px solid #ddd}
table.orderRows td.totalPriceCol {text-align: right; border-right:1px solid #ddd}
table.orderRows td.deliveryStatusCol { border-right:1px solid #ddd}
table.orderRows td.orderRowNoteCol{}

.help p{margin-bottom:2em;}