<div>
	<h4 class="sectionHeader">Bokningsschema</h4>
    <div id="scheduleListContainer" style='width:{{schedule.width}}px'>
		<ul id="dateList">
			<li ng-repeat="dateBox in schedule.dateBoxes" ng-class-even="'even'" ng-class-odd="'odd'" foo="bar" ng-attr-style="left:{{dateBox.offset}}px; width:{{dateBox.width}}px">
				<span class="dateLabel">{{dateBox.label}}</span>
			</li>
		</ul>
		<ul id="hourList">
			<li ng-repeat="hourBox in schedule.hourBoxes" ng-class-even="'even'" ng-class-odd="'odd'" ng-attr-style="left:{{hourBox.offset}}px; width:{{hourBox.width}}px">
				{{hourBox.label}}
			</li>
		</ul>
		<ul id="scheduleList">
			<li ng-repeat='resource in schedule.resources'>
                <div class="{{getClass(resource)}}" resource-id="resource.id" event-occation-selector on-save-selection='saveEventOccationBookings(occations)'>{{resource.name}}, {{resource.type}}</div>
				<ul class="eventList">
					<li ng-repeat='event in resource.events'>
						<div class="eventLabel">{{event.name}}</div>
						<ul class="bookingList">
							<li ng-repeat='booking in event.bookings' ng-click="deleteBooking(booking)"
								ng-attr-style="left:{{getBookingOffset(booking)}}px; width:{{getBookingWidth(booking)}}px;">
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
    </div>
</div>