<div class="dialog-contents">
	<h1>{{dialogHeader}}</h1>
	<div class="event-list-container">
		<p ng-show="noResults">Inga arrangemang kunde hittas</p>
		<ul class="event-list" ng-hide="noResults" >
			<li ng-repeat="event in events" class="event">
				<input type="checkbox" value='person' ng-click='selectEventOccations(event,$event)' ng-disabled="allOccationsAreBooked(event)"/>{{event.name}}
				<ul class="occation-list">
					<li class="occation" ng-repeat="occation in event.eventOccations" ng-class="{'colliding' : !occation.ok_to_book}" ng-form>
						<input ng-disabled="occation.already_booked" type="checkbox"
							   ng-model='formdata.eventOccations[occation.id]'
							   ng-true-value="{{occation.id}}"
							   ng-false-value="false"/>{{occation|eventOccationLabel}}
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<button class="save-selection" type="button" ng-click="saveSelection() || closeThisDialog()">Spara</button>
</div>