<div class="sectionContent">
    <div class="message" ng-show="message" ng-bind="message"></div>
    <form id="form" name="groupform">
        <fieldset class="formBox">
            <label>Namn <input type="text" name="name" ng-model="currentGroup.name" required="required"/><span ng-show="currentGroup.name.$error.required">*</span></label>
            <label>Epostadress <input type="email" name="email_address" ng-model="currentGroup.emailAddress" /></label>
            <label>Gruppledare <select ng-model="currentGroup.leaderMembershipId" ng-options="value.id as value.person.firstName +' ' + value.person.lastName + ' ('+ value.person.id + ')' for value in currentGroup.groupMembers"></select></label>
        </fieldset>
        <fieldset class="formBox">
             <label>Övriga noteringar <textarea class="large" ng-model="currentGroup.note"></textarea></label>
        </fieldset>
        <fieldset class="formBox">
            <label>Intern information <textarea class="large" ng-model="currentGroup.internal_note"></textarea></label>	
        </fieldset>
        <span class="clear"></span>
        <div>
            <button type="submit" ng-click="save()" ng-disabled="groupform.$invalid" ng-class="{'disabled' : groupform.$invalid }">Skicka</button>
        </div>
    </form>
	<pre style="display:none">{{currentGroup|json}}</pre>
</div>