<div class="sectionContent">
    <table id="personList" sortable-collection>
        <tr>
            <th class="idColumn" sort-on-click="groups by id">ID</th>
            <th sort-on-click="groups by name">Gruppnamn</th>
            <th sort-on-click="groups by emailAddress">Epostadress</th>
        </tr>
        <tr ng-repeat="group in groups" ng-class-even="even" ng-class-odd="odd">
            <td><a href="group/{{group.id}}">{{group.id}}</a></td>
            <td><a href="group/{{group.id}}">{{group.name}}</a></td>
            <td><a href="group/{{group.id}}">{{group.emailAddress}}</a></td>
        </tr>
    </table>
</div>