<div class="sectionContent">
    <div class="message" ng-show="message" ng-bind="message"></div>
	<h3>Medlemmar</h3>
	<table id="personList">
		<tr>
			<th class="idColumn">ID</th>
			<th>Förnamn</th>
			<th>Efternamn</th>
			<th>Epostadress</th>
			<th>Gruppledare</th>
			<th></th>
		</tr>
		<tr ng-repeat="membership in currentGroup.groupMembers">
			<td><a href="{{membership.person.id|personLink}}" target='_self'>{{membership.person.id}}</a></td>
			<td><a href="{{membership.person.id|personLink}}" target='_self'>{{membership.person.firstName}}</a></td>
			<td><a href="{{membership.person.id|personLink}}" target='_self'>{{membership.person.lastName}}</a></td>
			<td><a href="{{membership.person.id|personLink}}" target='_self'>{{membership.person.emailAddress}}</a></td>
			<td><span ng-show="membership.id == currentGroup.leaderMembershipId">Gruppledare</span></td>
			<td><button type="button" ng-click="deleteMembership(membership)">Ta bort medlem</button></td>
		</tr>
	</table>
	<button type="button" gc-selector on-save-selection="addMembers(selection)">Lägg till medlemmar</button>

	<h3>Anmälningar</h3>
	<signups current-group="currentGroup"/>
</div>