<div class="sectionContent">
	<h3>Sovplatser och sovplatsbokningar</h3>
    <div class="message" ng-show="message" ng-bind="message"></div>
	<fieldset class="formBox">
		<h4>Inbokade sovtillfällen</h4>
		<table>
			<thead>
				<tr>
					<th>Inbokad</th>
					<th>När</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="occation in sleepingEventOccations">
					<td><input type="checkbox" value="{{occation.id}}" ng-checked="occation.selected" ng-click="updateOccationSelection($event,occation.id)"/></td>
					<td>{{occation.timespan.name}} - ({{occation.timespan|timespanLabel}})</td>
				</tr>
			</tbody>
		</table>
		<button type="button" ng-click="updateOccations()">Uppdatera</button>
	</fieldset>
	<fieldset class="formBox">
		<div  class="sleeperListContainer" style="width:400px; float:left; margin-left:10px;">
			<h4>Inbokade sovande</h4>
			<table>
				<colgroup>
					<col class="idCol" />
					<col class="firstNameCol"/>
					<col class="lastNameCol"/>
					<col class="buttonsCol"/>
				</colgroup>
				<tr class="even">
					<th>Id</th>
					<th>Förnamn</th>
					<th>Efternamn</th>
					<th></th>
				</tr>
				<tr ng-repeat="accommodation in resource.sleepingResource.sleepingSlotBookings" ng-class-even="even" ng-class-odd="odd">
					<td><a href="{{accommodation.person.id|personLink}}" target="_self">{{accommodation.person.id}}</a></td>
					<td><a href="{{accommodation.person.id|personLink}}" target="_self">{{accommodation.person.firstName}}</a></td>
					<td><a href="{{accommodation.person.id|personLink}}" target="_self">{{accommodation.person.lastName}}</a></td>
					<td><button type="button" ng-click="deleteAccommodation(accommodation)">Ta bort</button></td>
				</tr>
			</table>
			<button type="button" people-selector multi-select on-people-select="onSaveAccommodations(people)">Lägg till fler sovande</button>
		</div>
	</fieldset>
</div>
				
			