<div class="sectionContent">
	<h4 class="sectionHeader">Bokningslista</h4>
	<div>
		<table >
			<thead>
			<tr class="even" sortable-collection>
				<th class="timeCol">När</th>
				<th class="nameCol">Vad</th>
				<th class="buttonsCol"></th>
			</tr>
			</thead>
			<tbody>
				<tr ng-class-even="event" ng-class-odd="odd" ng-repeat="booking in bookings">
					<td><a href="{{booking.eventOccationBooking.eventOccation.event.id|eventLink}}/signups" target="_self">{{booking.eventOccationBooking.eventOccation.timespan|simpleTimespanLabel}}</a></td>
					<td><a href="{{booking.eventOccationBooking.eventOccation.event.id|eventLink}}" target="_self">{{booking|bookingLabel}}</a></td>
					<td><button type="button" ng-click="deleteBooking(booking)">Ta bort</button></td>
				</tr>
			</tbody>
		</table>
		<button type="button" resource-id="resource.id" event-occation-selector on-save-selection='saveEventOccationBookings(occations)'>Lägg till bokning</button>
	</div>                   
</div>