<div class="sectionContent">
	<div class="event-occation-schedule-container" style="width:{{scheduleWidth}}px">
		<ul class="date-list">
			<li ng-repeat="date in dates" style="left:{{date.offset}}px; width:{{date.width}}px">{{date.label}}</li>
		</ul>
		<ul class="hour-list">
			<li ng-repeat="hour in hours" ng-class-even="even" style="left:{{hour.offset}}px; width:{{hour.width}}px" ng-mousedown="enterSelectionMode($event)" ng-mouseover="select($event)" ng-mouseup="leaveSelectionMode($event)" >{{hour.label}}</li>
		</ul>
		<ul class="main-timespan-list timespan-list">
			<li ng-repeat="timespan in publicTimespans" style="left:{{timespan.offset}}px; width:{{timespan.width}}px">{{timespan.name}}</li>
		</ul>
		<div ng-repeat='eventType in eventTypes'>
			<h3>{{eventType.name}}</h3>
			<ul class="event-list" >
				<li ng-repeat="event in eventType.events">
					<div class="eventName"><a href="{{event.id|eventLink}}/signups" target="_self">{{event.name}}</a></div>
					<ul class="timespan-list event-timespan-list">
						<li ng-repeat="timespan in publicTimespans" 
							ng-click="createBooking($event,event,timespan)"
							style="left:{{timespan.offset}}px; width:{{timespan.width}}px">{{timespan.name}}</li>
					</ul>
					<ul class="timespan-list event-occation-list">
						<li ng-repeat="eventOccation in event.eventOccations" 
							ng-click="deleteBooking($event,event,eventOccation)"
							style="width:{{eventOccation.width}}px; left:{{eventOccation.offset}}px">{{eventOccation.name}}</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>