<div class="sectionContent">
    <div class="message" ng-show="message" ng-bind="message"></div>
    <form id="angular-form" name="form">
        <fieldset class="formBox">
            <label>Namn <input type="text" name="name" ng-model="resource.name" required="required"/><span ng-show="form.name.$error.required">*</span></label>
            <label>Type <select ng-model="resource.resourceType" name="type" required="required" ng-options="type.name for type in resourceTypes track by type.id">
                </select><span ng-show="form.type.$error.required">*</span></label>
            <label>Tillgänglig?
                <span class="buttonBox">
                    <input type="radio" name="available" ng-model="resource.available" ng-value="true"/> Ja
                    <input type="radio" name="available" ng-model="resource.available" ng-value="false"/> Nej
                </span></label>
			<label>Användbar för sovning?
                <span class="buttonBox">
                    <input type="radio" name="sleepingResourceIsAvailable" ng-model="resource.sleepingResource.isAvailable" ng-value="true"/> Ja
                    <input type="radio" name="sleepingResourceIsAvailable" ng-model="resource.sleepingResource.isAvailable" ng-value="false"/> Nej
                </span></label>
			<label ng-show="resource.sleepingResource.isAvailable">Antal sovplatser <input type="text" ng-model="resource.sleepingResource.noOfSlots"/></label>
		</fieldset>
		<fieldset class="formBox">
             <label>Beskrivning <textarea class="large" ng-model="resource.description"></textarea></label>
        </fieldset>
	    <span class="clear"></span>
        <div>
            <button type="submit" ng-click="saveResource()" ng-disabled="!(form.override.$modelValue || form.$valid) || disableSaveButton">Skicka</button>
        </div>
    </form>
    <script>
        $("#person-form input[type=radio]").each(function(key,obj){
            var $obj = $(obj);
            var $parent =$obj.parent(".buttonBox");
            $obj.bind("focus",function(){
                $parent.addClass("focus");
            }).bind("blur",function(){
                $parent.removeClass("focus");
            });
        });
    </script>
</div>