<div class="sectionContent">
	<table class="resourceList">
		<tr class="even">
			<th class="idCol"><a href="">Id</a></th>
			<th class="nameCol"><a href="">Namn</a></th>
			<th class="typeCol"><a href="">Typ</a></th>
			<th><a href="">Tillgänglig</a></th>
			<th><a href="">Sovsal</a></th>
		</tr>
		<tr ng-repeat="resource in resources">
			<td><a href="resource/{{resource[0].id}}">{{resource[0].id}}</a></td>
			<td><a href="resource/{{resource[0].id}}">{{resource[0].name}}</a></td>
			<td><a href="resource/{{resource[0].id}}">{{resource[0].resourceType.name}}</a></td>
			<td><a href="resource/{{resource[0].id}}">{{resource[0].available|yesNoStatus}}</a></td>
			<td><a href="resource/{{resource[0].id}}/accommodation">{{resource|sleepingResourceStatus}}</a></td>
		</tr>
	</table>
</div>