table.tablesorter th {
	text-align: left;
	padding: 3px;
}

table.tablesorter .header {
	background-image: url(UpDown.png);
	background-repeat: no-repeat;
	background-position: 0 4px;
	cursor: pointer;
	padding-left: 20px;
	padding-right: 4px;
	height: auto;
}
table.tablesorter .headerSortUp {
	background-image: url(Up.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(Down.png);
	background-repeat: no-repeat;
}