<div class="sectionContent">
    <div class="message" ng-show="message" ng-bind="message"></div>
    <form id="form" name="groupform">
		<fieldset class="wideFormBox">
			<label>Namn <input type="text" name="name" ng-model="currentEvent.name" required="required"/><span ng-show="currentEvent.name.$error.required">*</span></label>
			<label>Typ <select ng-model="currentEvent.eventtype" ng-options='t.name for t in eventTypes track by t.id'></select></label>
			<label>Arrangör 
				<span class='buttonBox' >
					<a ng-show="hasOrganizer()" href="{{currentEvent.organizer|eventOrganizerLink}}" target="_self">{{currentEvent.organizer|eventOrganizerLabel}}</a>
					<button type="button" gc-selector dialog-header="'Sök upp arrangör'" selection-scope="'people,groups'" on-save-selection="selectOrganizer(selection)">{{selectOrganizerLabel}}</button>
				</span>
			</label>
			<label>Namn i schemat<input type="text" name="name" ng-model="currentEvent.scheduleName" required="required"/></label>
			<label>Synlig i schemat?
				<span class="buttonBox">
					<input type="radio" name="visibleInSchedule" ng-model="currentEvent.visibleInSchedule" ng-value="true"/> Ja
					<input type="radio" name="visibleInSchedule" ng-model="currentEvent.visibleInSchedule" ng-value="false"/> Nej
				</span>
			</label>
			<label>Publik?
				<span class="buttonBox">
					<input type="radio" name="visibleInPublicListing" ng-model="currentEvent.visibleInPublicListing" ng-value="true"/> Ja
					<input type="radio" name="visibleInPublicListing" ng-model="currentEvent.visibleInPublicListing" ng-value="false"/> Nej
				</span>
			</label>
            <label>Intern information <textarea class="large" ng-model="currentEvent.internalInfo"></textarea></label>
	        <button type="submit" ng-click="save()" ng-disabled="groupform.$invalid" ng-class="{'disabled' : groupform.$invalid }"><i class="fa fa-save"></i> {{currentEvent.id ? 'spara':'skapa'}}</button>
	        <span class="clear"></span>
        </fieldset>
		<fieldset class="wideFormBox">
            <label>Arrangemangsinformation - Ingress <textarea class="large" ui-tinymce ng-model="currentEvent.preamble"></textarea></label>	
            <label>Arrangemangsinformation - Text <textarea class="large" ui-tinymce ng-model="currentEvent.text"></textarea></label>	
            <label>Arrangemangsinformation - Övrigt <textarea class="large" ui-tinymce ng-model="currentEvent.info"></textarea></label>
		</fieldset>
        <span class="clear"></span>
    </form>
</div>