<style>
	.eventOccationDialogue label{
		display:inline-block;
		float:none;
	}
	.eventOccationDialogue *{
		float:none;
	}
	
	
</style>
<div class="eventOccationDialogue">
	<h3>Nytt pass</h3>
	<h4>{{event.name}} - {{timespan.name}}</h4>
	<label>
		Passnamn<br/><input type="text"/>
	</label>
	<label>
		Dölj i listningen<br/><input type="checkbox"/>
	</label>
	
	
	
</div>