<div class="event-occation">
	<h4>{{eventOccation|eventOccationLabel}}<a href="#" class="edit-link" ng-click="showEditForm = !showEditForm"><i class="fa fa-edit"></i></a></h4>
	<span class="event-occation-info">{{eventOccation|eventOccationInfo}}</span>
	<span class="clear"></span>
	<event-occation-form ng-show="showEditForm" event-occation="eventOccation" timespans="timespans"></event-occation-form>
	<span class="clear"></span>
	<div class="signup-slots">
		<signup-slot ng-repeat="signupSlot in eventOccation.signupSlots" class="signup-slot" signup-slot="signupSlot" slot-types="slotTypes"></signup-slot><div class="resource-bookings">
			<h5>Plats och resursbokningar</h5>
			<table class="signup-slots">
				<tr><th>Var</th><th>Typ</th><th></th></tr>
				<tr class="resourceBookingsContainer" ng-repeat="eventOccationBooking in eventOccation.eventOccationBookings track by eventOccationBooking.id" >
					<td><a href="{{eventOccationBooking.booking.resource|resourceLink}}/schedule" target="_self">{{eventOccationBooking.booking.resource.name}}</a></td>
					<td>{{eventOccationBooking.booking.resource.resourceType.name}}</td>
					<td class="delete-button-col"><button type='button' ng-click="deleteResourceBooking(eventOccationBooking)"><i class="fa fa-times"></i></button></td>
				</tr>
			</table>
			<button type='button' multi-select="true" gc-selector dialog-header="'Sök efter plats eller resurs'" selection-scope="'resources'" on-save-selection="saveResourceBooking(selection)"><i class="fa fa-plus"></i> Ny bokning</button>
		</div>
	</div>
	<button ng-hide="showNewForm" type='button' ng-click="showNewForm = !showNewForm"><i class="fa fa-plus"></i> Ny anmälningstyp</button>
	<signup-slot-form ng-show="showNewForm" slot-types="slotTypes" signup-slot="signupSlotFormData"></signup-slot-form>
</div>