<div class="sectionContent">
	<div class="event-occation-schedule-container" style="width:{{scheduleWidth}}px">
		<ul class="date-list">
			<li ng-repeat="date in dates" style="left:{{date.offset}}px; width:{{date.width}}px">{{date.label}}</li>
		</ul>
		<ul class="hour-list">
			<li ng-repeat="hour in hours" ng-class-even="even" style="left:{{hour.offset}}px; width:{{hour.width}}px" ng-mousedown="enterSelectionMode($event)" ng-mouseover="select($event)" ng-mouseup="leaveSelectionMode($event)" >{{hour.label}}</li>
		</ul>
		<ul class="main-timespan-list timespan-list">
			<li ng-repeat="timespan in publicTimespans" style="left:{{timespan.offset}}px; width:{{timespan.width}}px">{{timespan.name}}</li>
		</ul>
		<div ng-repeat='event in events'>
			<h4>{{event.name}}</h4>
			<ul class="event-list" >
				<li ng-repeat="resource in event.resources">
					<div class="eventName"><a href="{{resource.id|resourceLink}}">{{resource.name}}</a></div>
					<ul class="timespan-list event-timespan-list">
						<li ng-repeat="timespan in publicTimespans" 
							ng-click="createEventOccation($event,event,timespan)"
							style="left:{{timespan.offset}}px; width:{{timespan.width}}px">{{timespan.name}}</li>
					</ul>
					<ul class="timespan-list event-occation-list">
						<li ng-repeat="booking in resource.bookings" 
							ng-click="deleteBooking($event,resource,booking)"
							style="width:{{booking.width}}px; left:{{booking.offset}}px">{{booking.label}}</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>