<div ng-form="eventOccationForm" class="event-occation-form">
	<label>Name <input type="text" ng-model="eventOccation.name" /></label>
	<label>Timespan <select required ng-model="eventOccation.timespan" ng-options="timespan|timespanLabel:true for timespan in localTimespans track by timespan.id"></select></label>
	<fieldset ng-hide="eventOccation.timespan.isPublic">
		<label>Name <input type="text" ng-mode="name" /></label>
		<label>Börjar <input type="datetime-local" ng-model="startsAt"></label>
		<label>Slutar <input type="datetime-local" ng-model="endsAt"></label>
		<fieldset>
		Visa i schemat?
			<div class="input-box">
				<label><input ng-model="showInSchedule" type="radio" ng-value="true"/> ja</label>
				<label><input ng-model="showInSchedule" type="radio" ng-value="false"/> nej</label>
			</div>
		</fieldset>
	</fieldset>
	<fieldset>
		Dold i listning?
		<div class="input-box">
			<label><input ng-model="eventOccation.isHidden" type="radio" ng-value="true"/> ja</label>
			<label><input ng-model="eventOccation.isHidden" type="radio" ng-value="false"/> nej</label>
		</div>
	</fieldset>
	
	<span class="clear"></span>
	<div style="display:table">
		<div style="display: table-row">
			<div style="display: table-cell; width:50%"><button type="button" ng-click="onSaveClick()" ng-disabled="eventOccationForm.$pristine || eventOccationForm.$invalid" class="save-button left"><i class="fa fa-save"></i> {{SaveLabel}}</button></div>
			<div style="display: table-cell; white-space: nowrap"><button type="button" ng-show="onDeleteClick" ng-click="onDeleteClick()" class="left delete-button"><i class="fa fa-times "></i> Ta bort</button></div>
			<div style="display: table-cell; width:50%"><button type="button" class="cancel-button right" ng-click='onCancelClick()'><i class="fa fa-ban"></i> avbryt</button></div>
		</div>
	</div>
	<span class="clear"></span>	
</div>