<div class="sectionContent">
    <table id="event-list" sortable-collection>
        <tr>
            <th class="idColumn" sort-on-click="events by id">ID</th>
            <th sort-on-click="events by name">Namn</th>
            <th sort-on-click="events by eventtype.name,name">Arrangemangstyp</th>
            <th>Synligt för besökare</th>
            <th>Synligt i schemat</th>
            <th>Arrangör</th>
        </tr>
        <tr ng-repeat="event in events" ng-class-even="even" ng-class-odd="odd">
			<td><a href="event/{{event.id}}">{{event.id}}</a></td>
			<td><a href="event/{{event.id}}">{{event.name}}</td>
			<td><a href="{{event.eventtype.id|eventTypeLink}}" target="_self">{{event.eventtype.name}}</td>
			<td>{{event.visibleInPublicListing|yesNoStatus}}</td>
			<td>{{event.visibleInSchedule|yesNoStatus}}</td>
			<td><a href="{{event.organizer|eventOrganizerLink}}" target="_self">{{event.organizer|eventOrganizerLabel}}</a></td>
        </tr>
    </table>
</div>