<div ng-form="signupSlotForm" class="signup-slot-form">
	<label>Anmälningstyp <select required ng-model="signupSlot.slotType" ng-options="slotType.name for slotType in slotTypes track by slotType.id"></select></label>
	<label>Begränsat antal platser <input type="number" ng-model="signupSlot.maximumSignupCount"/></label>
	<label>Begränsat antal reservplatser <input type="number" ng-model="signupSlot.maximumSpareSignupCount"/></label>
	<fieldset>Kräver godkännande? 
		<div class="input-box">
			<label>Ja <input type="radio" ng-model="signupSlot.requiresApproval" ng-value="true"/></label>
			<label>Nej <input type="radio" ng-model="signupSlot.requiresApproval" ng-value="false"/></label>
		</div>
	</fieldset>
	<fieldset>Dold?
		<div class="input-box">
			<label>Ja <input type="radio" ng-model="signupSlot.isHidden" ng-value="true"/></label>
			<label>Nej <input type="radio" ng-model="signupSlot.isHidden" ng-value="false"/></label>
		</div>
	</fieldset>
	<div style="display: table-row">
		<div style="display: table-cell; width:50%"><button type="button" ng-click="onSaveClick()" ng-disabled="signupSlotForm.$pristine || signupSlotForm.$invalid" class="save-button left"><i class="fa fa-save"></i> {{saveLabel}}</button></div>
		<div style="display: table-cell; white-space: nowrap"><button type="button" ng-show="onDeleteClick" ng-click="onDeleteClick()" class="left delete-button"><i class="fa fa-times "></i> Ta bort</button></div>
		<div style="display: table-cell; width:50%"><button type="button" ng-click="onCancelClick()" class="cancel-button right"><i class="fa fa-ban"></i> avbryt</button></div>
	</div>
	<span class="clear"></span>
</div>