<div class="sectionContent event-occation-view">
	<h3 class="event-occation-header">Arrangmangspass</h3>
	<button type='button' ng-hide="showNewForm" ng-click="showNewForm = true"><i class="fa fa-plus"></i> Nytt pass</button>
	<div ng-show="showNewForm">
		<h4>Nytt arrangemangspass</h4>
		<event-occation-form timespans="timespans"/>
	</div>
	<div class="event-occations">
		<event-occation ng-repeat="eventOccation in currentEvent.eventOccations" event-occation="eventOccation" timespans="timespans" slot-types="slotTypes"></event-occation>
	</div>
</div>