<div class="signup-slot">
	<h5>{{signupSlot.slotType.name}}<a href="#" class="edit-link" ng-click="showEditForm = !showEditForm"><i class="fa fa-edit"></i></a></h5>
	<span class="signup-slot-info">{{signupSlot|signupSlotInfo}}</span>
	<signup-slot-form ng-show="showEditForm" signup-slot="signupSlot" slot-types="slotTypes"></signup-slot-form>
	<table>
		<tr>
			<th class="nameCol">Vem</th><th class="approvalCol">Godkänd</th><th class="approvalCol">Har betalt</th><th></th>
		</tr>
		<tr ng-repeat="signup in signupSlot.signups">
			<td><span ng-show="signup.group"><a href="{{signup.group.id|groupLink}}" target="_self">{{signup.group|groupLabel}}</a></span>
				<span ng-show="signup.person"><a href="{{signup.person.id|personLink}}" target="_self">{{signup.person|personLabel:noId}}</a></span>
			</td>
			<td>{{signup.isApproved|yesNoStatus:signupSlot.requiresApproval}}</td>
			<td>{{signup.isPaid|yesNoStatus:signupSlot.signupSlotArticle}}</td>
			<td class="delete-button-col"><button type='button' ng-click="deleteSignup(signup)"><i class="fa fa-user-times"></i></button></td>
		</tr>
	</table>
	<button type='button' gc-selector dialog-header="selectorHeader" selection-scope="selectionScope" on-save-selection="onSelectEntity(selection)"><i class="fa fa-user-plus"></i></button>	
</div>