<div class="event-type">
	<h2>{{title}}</h2>
	<div class="sectionContent content">
		<table class="event-type-list" sortable-collection>
			<tr class="even">
				<th class="nameCol" sort-on-click="eventtypes by name">Name</th>
			</tr>
			<tr ng-repeat="eventtype in eventtypes" ng-controller="eventTypeItemController">
				<td>
					<a ng-hide='inEditMode' href="#" ng-click="$event.preventDefault();enterEditMode();">{{eventtype.name}} <i class="fa fa-edit"></i></a>
					<span ng-show="inEditMode"><input type="text" ng-model="eventtype.name" />
						<button title="spara" type="button" href="#" ng-click="save();"><i class="fa fa-save"></i></button> 
						<button title="avbryt" type="button" href="#" ng-click="cancel();"><i class="fa fa-ban"></i></button>
						<button title="ta bort" type="button" href="#" ng-click="remove();"><i class="fa fa-times"></i></button>
					</span>
				</td>
			</tr>
			<tr ng-controller="eventTypeItemController" ng-init="{eventtype : { name: '', id : 0 }}">
				<td>
					<h3>Skapa ny arrangemangstyp</h3>
					<span><input type="text" ng-model="eventtype.name" />
						<button title="skapa" type="button" href="#" ng-click="create();"><i class="fa fa-save"></i></button> 
					</span>
				</td>
			</tr>
		</table>
	</div>
</div>