<div class="dialog-contents">
	<h4>Gruppmedlemskap</h4>
	<table id="groupMembershipTable">
		<tr class="odd">
			<th>Id</th>
			<th>Namn</th>
			<th></th>
		</tr>
		<tr ng-repeat="group in availableGroups" ng-class-even="even" ng-class-odd="odd" >
			<td>{{group.id}}</td>
			<td>{{group.name}}</td>
			<td><button ng-click="addMember(group)">Lägg till medlemskap</button></td>
		</tr>
	</table>
</div>