<div>
	<h4>Gruppmedlemskap</h4>
	<table id="groupMembershipTable">
		<tr class="odd">
			<th>Id</th>
			<th>Namn</th>
			<th>Noteringar</th>
			<th></th>
		</tr>
		<tr ng-repeat="membership in memberships">
			<td>{{membership.id}}</td>
			<td>{{membership.group.name}}</td>
			<td>{{membership|membershipStatus}}</td>
			<td><button ng-click="deleteMembership(membership)">Avsluta medlemskap</button></td>
		</tr>
	</table>
	<button ng-click="showMembershipDialogue()">Nytt medlemskap</button>
	<span class="clear"></span>
</div>