<div class="sectionContent">
    <div class="message" ng-show="message" ng-bind="message"></div>
    <form id="person-form" name="form">
        <fieldset class="formBox">
            <label>Förnamn <input type="text" name="firstName" ng-model="person.firstName" required="required"/><span ng-show="form.firstName.$error.required">*</span></label>
            <label>Efternamn <input type="text" name="lastName" ng-model="person.lastName" required="required"/><span ng-show="form.lastName.$error.required">*</span></label>
            <label>Epostadress <input type="email" name="emailAddress" ng-model="person.emailAddress" required="required"/><span ng-show="form.emailAddress.$error.required">*</span></label>
            <label>Privat epostadress? 
                <span class="buttonBox">
                    <input type="radio" name="emailIsPublic" ng-model="person.emailIsPublic" ng-value="false"/> Ja
                    <input type="radio" name="emailIsPublic" ng-model="person.emailIsPublic" ng-value="true"/> Nej
                </span>
            </label>
            <label>Personnummer <input type="text" ng-model="person.identification" ng-pattern="/^[0-9]{6}( |-)?[0-9]{4}$/"/></label>
            <label>Telefonnummer <input type="text" ng-model="person.phoneNumber"/></label>
            <label>Gatuadress <input type="text" ng-model="person.streetAddress"/></label>
            <label>Postnummer <input type="text" ng-model="person.zip"/></label>
            <label>Stad <input type="text" ng-model="person.city"/></label>
            <label>Utländsk adress <textarea rows="3" ng-model="person.foreignAddress"></textarea></label>
            <label>Ignorera formulärfel  <span class="buttonBox"><input type="checkbox" name="override" value="override" ng-model="override"/></span></label>
       </fieldset>
        <fieldset class="formBox">
             <label>Övriga noteringar <textarea class="large" ng-model="person.note"></textarea></label>
        </fieldset>
        <fieldset class="formBox">
            <label for="internal_note">Intern information <textarea class="large" ng-model="person.internalNote"></textarea></label>	
        </fieldset>
        <span class="clear"></span>
        <div>
            <button type="submit" ng-click="savePerson()" ng-disabled="!(form.override.$modelValue || form.$valid) || disableSaveButton">Skicka</button>
        </div>
    </form>
    <script>
        $("#person-form input[type=radio]").each(function(key,obj){
            var $obj = $(obj);
            var $parent =$obj.parent(".buttonBox");
            $obj.bind("focus",function(){
                $parent.addClass("focus");
            }).bind("blur",function(){
                $parent.removeClass("focus");
            });
        });
    </script>
</div>