<div class="sectionContent">
    <table id="personList" sortable-collection >
        <tr>
            <th class="idColumn" sort-on-click="people by id">ID</th>
            <th sort-on-click="people by firstName,lastName">Förnamn</th>
            <th sort-on-click="people by lastName,firstName">Efternamn</th>
            <th sort-on-click="people by emailAddress">Epostadress</th>
        </tr>
        <tr ng-repeat="person in people" ng-class-even="even" ng-class-odd="odd">
            <td><a href="person/{{person.id}}">{{person.id}}</a></td>
            <td><a href="person/{{person.id}}">{{person.firstName}}</a></td>
            <td><a href="person/{{person.id}}">{{person.lastName}}</a></td>
            <td><a href="person/{{person.id}}">{{person.emailAddress}}</a></td>
        </tr>
    </table>
</div>