<div class="sectionContent">
	<signups class="sectionBox" current-person="person"></signups>
	<personal-group-memberships class="sectionBox" memberships="person.groupMemberships" current-user-id="person.id"></group-memberships>
</div>