<div class="sectionContent" >
    <form name="userForm">
        <fieldset class="formBox">
            <label>Användarnamn <input type="text" ng-model="user.username"/></label>
            <label>Lösenord <input type="password" ng-model="user.password" name="password" /></label>
            <label>Upprepa lösenord <input type="password" ng-model="user.password_repeat" name="password_repeat" gc-must-match="password"/></label>
            <span class="clear"></span>
            <label>Aktiv? <span class="buttonBox"><input type="checkbox" ng-model="user.isActive"/></span></label>
            <label>Användarnivå 
                <select ng-model="user.level">
                    <option value="0">Besökare</option>
                    <option value="1">Användare</option>
                    <option value="20">Arrangör</option>
                    <option value="30">Arbetare</option>
                    <option value="40">Ledning</option>
                    <option value="100">Administratör</option>
                </select>
            </label>
        </fieldset>
        <span class="clear"></span>
        <button ng-click="saveUser($event)" ng-disabled="!userForm.$valid || disableSaveButton">Skicka</button>
    </form>
</div>