<div class="dialog-contents">
	<h1>{{dialogHeader}}</h1>
	<div class="search-container">
		<gc-search search-result="entities" selection-scope="selectionScope" search-status="searchStatus"/></gc-search>
	</div>
	<div class="people-list-container">
	<p>{{searchStatus}}</p>
	<ul class="people-list" ng-hide="noResults">
 		<li ng-repeat="entity in entities track by entity.type + entity.id" id="multiSelection">
			<label ng-include="listItemContent"></label>
		</li>
	</ul>
	</div>
	<button class="save-selection" type="button" ng-click="saveSelection() || closeThisDialog()">Spara</button>
</div>